.rh-page-nav-container{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $white;

	.rh-page-nav-title{
		margin-bottom: em(5);
		font-size: em(24);
	}

	.rh-page-nav{
		padding-bottom: em(10);
		padding-left: em(10);
		border-left: 2px solid $grey-lighter;

		&-item {
			margin-top: em(20);
			margin-left: em(-12);
			padding-left: em(10);
			padding-bottom: em(5);
			border-left: 2px solid transparent;
			font-size: $p-large;

			&:first-child{
				margin-top: 0;
			}

			&:hover, &:active{
				border-left: 2px solid $color_primary;
			}
		}	
	}
} 