.rh-hero {
    /* Positionering */
    position: relative;

    /* Box-modell/beteende */
    display: block;
    width: $hero--width;
    max-width: $hero--max-width;
    min-width: $hero--min-width;
    overflow: hidden;

    @include medium {
        /* Box-modell/beteende */
        max-height: $hero--medium--max-height;
    }

    @include large {
        /* Box-modell/beteende */
        max-height: $hero--large--max-height;
    }

    &__image-container {
        max-height: $hero__image-container--max-height;
        width: $hero__image-container--width;
    }

    &__image {
        /* Box-modell/beteende */
        //height: 100%;
        display: block;
        width: $hero__image--width;
    }
}
