
<div class="rh-blurb mx1 my2">
    <div class="rh-blurb__hero-container">
        <img src="{{imageUrl}}">
    </div>
    
    <div class="rh-blurb__description mx2 pt2">
        <h3>
            <a href="/" target="#">{{title}}</a>
        </h3>
        <p>{{description}}</p>
    </div>
</div>
