.rh-caption-hero{
	position: absolute;
	max-width: 344px;
	bottom: em(40);
	left: em(16);
	margin-right: em(15);
	color: $white;
	@include medium {
		max-width: 530px;
		bottom: em(30);
		left: em(73);
	}
	@include large {
		bottom: em(50);
		left: em(170);
	}
	padding: em(15);
	background-color: $black;
}
	