.rh-image-caption {
    /* Positionering */
    position: absolute;

    /* Box-modell/beteende */
    width: 344px;

    /* Typografi */
    text-align: left;
    font-size: em(12);
    text-indent: 0;
    color: $grey-darkest;

    img {
        /* Box-modell/beteende */
        width: 100%;
    }

    figcaption {
        /* Box-modell/beteende */
        margin-top: -2px;
        padding: 10px;

        /* Visuellt */
        background-color: $grey-lightest;
    }

    @include medium {
        /* Box-modell/beteende */
        width: 509px;

        /* Typografi */
        font-size: em(14);
    }

    @include large {
        /* Box-modell/beteende */
        width: 640px;

        /* Typografi */
        font-size: em(15);
    }


}