/* Organism - Breadcrums */
$breadcrums--border-top: 0.0625em solid $grey-lighter;//Can using "false"
$breadcrums--border-bottom: 0.0625em solid $grey-lighter;//Can using "false"

$breadcrumbs__item-link--margin-left: false; //0.75em is default - Can using "false"
$breadcrumbs__item-link--margin-right: false; //Can using "false"
$breadcrumbs__item--border-bottom: 0.1875em solid $base3-dark ;

$breadcrumbs__icon--margin-left: 0.75em; //Can using "false"
$breadcrumbs__icon--margin-right: 0.75em; //Can using "false"