.rh-accordion {
    /* Positionering */
    align-items: center;

    /* Box-modell/beteende */
    display: flex;
    width: 100%;
    padding-top: em(11);
    padding-bottom: em(11);
    padding-left: em(11);
    padding-right: em(5);

    /* Visuellt */
    border-left: 4px solid $color-primary;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: $grey-lightest;

    /* Blandat/övrigt */
    cursor: pointer;

    &-title {
        /* Box-modell/beteende */
        margin: 0;

        /* Typografi */
        color: $black;
        font-weight: bold;
    }

    &-icon {
        /* Box-modell/beteende */
        margin-left: auto;

        &:after {
            /* Box-modell/beteende */
            padding: em(8);
            margin-right: em(10);

            /* Visuellt */
            border-radius: 50%;
            background-color: $color-primary;

            /* Typografi */
            font-family: "feather";
            color: $white;
            font-size: em(14);

            /* Blandat/övrigt */
            content: "\e8b1";
        }
    }

    &-active {
        /* Visuellt */
        background-color: $color-primary;

        .rh-accordion-title {
            /* Typografi */
            color: $white;
        }

        .rh-accordion-icon:after {
            /* Visuellt */
            background-color: $white;

            /* Typografi */
            font-family: "feather";
            color: $color-primary;

            /* Blandat/övrigt */
            content: "\e897";
        }
    }
}

.rh-linkgroup-card {
    /* Box-modell/beteende */
    overflow: hidden;
    max-height: 0;

    /* Visuellt */
    background-color: $grey-lightest;
    transition: max-height 0.2s ease-out;
    -webkit-transition: max-height 0.2s;
}

.rh-listgroup {
    /* Box-modell/beteende */
    margin-left: em(10);
    margin-right: em(10);
    padding-top: em(30);

    &-item {
        /* Box-modell/beteende */
        margin-bottom: em(35);

        /* Typografi */
        font-size: $p-small;

        @include medium {
            /* Typografi */
            font-size: $p-medium;
        }

        @include large {
            /* Typografi */
            font-size: $p-large;
        }
    }
}