/* Organism - Footer logo group */
$footer-logo-group-gutters: .2em;
$footer-logo-group-gutters-medium: .4em;

$footer-logo-group--padding-top: 2em;
$footer-logo-group--padding-bottom: 2em;

$footer-logo-group__logo-container--background-color: #ffffff;
$footer-logo-group__item--max-height: 1.875em; //30px
$footer-logo-group__item--max-height-small: 3.125em; //50px
$footer-logo-group__item--margin-bottom: 1em; //50px
$footer-logo-group__item--opacity: 0.5;
$footer-logo-group__item--opacity-hover: 1;

$footer-logo-group__link-container--margin-top: 1em;
$footer-logo-group__link-container--text-align-medium: right;

$footer-logo-group__link--font-size: 0.875em; //14px
$footer-logo-group__link-item--margin-bottom: 1em;
$footer-logo-group__link-item--padding-left-medium: 2em;
