# General
.vs
.vscode
.idea
.DS_Store

# Node
node_modules

# build-mappen
cdn/build/*
!cdn/build/.gitkeep

# Vendor
vendor

# Composer
composer.lock

# Atoms
components/vAtoms/*
!components/vAtoms/.gitkeep

# Molecules
components/vMolecules/*
!components/vMolecules/.gitkeep

# Organism
components/vOrganism/*
!components/vOrganism/.gitkeep

# Organism
components/vTemplates/*
!components/vTemplates/.gitkeep