//
// @name Article
// @description
//
// @page Components/Article
//
// @description Use to wrap articles.
//
// @markup
// <article class="article">
//   <h2>Halland</h2>
//   <p class="preamble">Jag är en ingress som får lite större utrymme i artikeln så att man får ett bra intro till det som kommer efter mig.</p>
//   <p>Halland är ett landskap i sydvästra Sverige. Halland gränsar i söder till Skåne, i öster till Småland och i öster och norr till
//   Västergötland, samt har i väster kust mot Kattegatt. Landskapet Halland sammanfaller i stor utsträckning med det år 1719 bildade Hallands län.
//   Lindome distrikt i norra Halland tillhör dock Västra Götalands län medan Östra Karups distrikt i söder tillhör Skåne län och Lunds stift.
//   Övriga Halland är en del av Göteborgs stift. Hallands län omfattar dessutom delar av både Småland och Västergötland.</p>
//   <figure>
//   	<img src="https://images.unsplash.com/photo-1489161587020-79aa193f04ff?auto=format&fit=crop&w=2702&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="En kamel">
//   	<figcaption>
//   		Kamelen, ett ovanligt förekommande djur i Halland.
// 		</figcaption>
//   </figure>
//   <h3>Större tätorter</h3>
//   <p>Följande tätorter har fler än 10 000 invånare enligt tätortsavgränsningen 2010:</p>
//   <ol>
//   	<li>Halmstad</li>
//   	<li>Varberg</li>
//   	<li>Falkenberg</li>
//   	<li>Kungsbacka</li>
//   	<li>Onsala</li>
//   	<li>Lindome</li>
//   </ol>
//   <h3>Kända hallänningar</h3>
//   <ul>
//   	<li>Elsa Grave</li>
//   	<li>Basshunter</li>
//   	<li>Åsa Svensson</li>
//   	<li>Mona Gustafsson</li>
//   </ul>
// </article>

.article {

	h1, h2, h3, h4, h5, h6 {
		margin-top: $space-3;
		margin-bottom: 0;
	}

	h1 {
		margin-top: 0;
	}

	a {
		word-wrap: break-word;
		text-decoration: underline;

		&:visited {
			color: $link-visited;
		}
	}

	ul, ol, figure, blockquote {
		margin-top:    $space-3;
		margin-bottom: $space-3;
	}

	p {
		margin-bottom: $space-3;
	}

	ul, ol {
		margin-left: $space-4;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	figure,
	figcaption {
		max-width: 100%;
	}

	figure {
		text-align: center;

		&.alignright {
			float: right;
			margin: $space-2 0 $space-2 $space-2;
		}

		&.alignleft {
			float: left;
			margin: $space-2 $space-2 $space-2 0;
		}
	}

	figcaption {
		margin-top: $space-2;
		text-align: left;
	}
}
