//
// @name Breadcrumbs
// @description
//
// @page Components/Breadcrumbs
//
// @description Use breadcrumbs to show a user where they are.
//
// @markup
// <div class="breadcrumbs__container">
//   <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
//       <li class="breadcrumbs__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
//           <a href="#">Vårdgivarwebben</a>
//           <meta itemprop="position" content="1" />
//       </li>
//       <li class="breadcrumbs__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
//           <a href="#">Patientadministration</a>
//           <meta itemprop="position" content="2" />
//       </li>
//       <li class="breadcrumbs__item active" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
//           <span itemprop="name">Patientens rättigheter</span>
//           <meta itemprop="position" content="3" />
//       </li>
//   </ol>
// </div>

.breadcrumbs-container {
	display: none;

	@media screen and (min-width: $breakpoint-md) {
		display: block;
		background: $dark-blue;
		padding-top: $space-2;
		padding-bottom: $space-2;
	}
}

.breadcrumbs {
	display: none;

	@media screen and (min-width: $breakpoint-sm) {
		display: block;
	}
}

.breadcrumbs__item {
	display: inline-block;

	&:not(:last-child)::after {
		content: '';
		display: inline-block;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M3.56834948,3.84547571 C2.88900131,3.26719167 2.80707264,2.24767932 3.38535669,1.56833115 C3.96364073,0.88898298 4.98315307,0.807054315 5.66250124,1.38533836 L12.1240018,6.88558524 C12.8922726,7.53956321 12.879696,8.72996986 12.0977797,9.36757017 L5.63627918,14.6364909 C4.94486492,15.2002929 3.9273111,15.0968427 3.3635091,14.4054285 C2.7997071,13.7140142 2.90315728,12.6964604 3.59457154,12.1326584 L8.55348848,8.08899391 L3.56834948,3.84547571 Z'/%3E%3C/svg%3E%0A");
		height: 8px;
		width:  8px;
	}

	&.active {
		font-weight: $bold-font-weight;
	}
}

.breadcrumbs__link,
.breadcrumbs__span {
	color: $white;
	font-size: .875rem;
}
