//
// @name Button Outline
// @page Components/Button
//
// @description
// An outlined button for secondary actions
//
// @state :hover - Highlights when hovering.
// @state .disabled - Disables button.
//
// @markup
// <button class="btn btn-outline">Button</button>
// 
// 

.btn-outline {
	color: $dark-blue;
	background:none;
    border: 1px solid $dark-blue;

	&:hover {
		background: palette(light-blue, light);
	}


	&:active {
		background:$darken-3;
		box-shadow: inset 0 0 0 20rem $darken-2,
					inset 0 3px 4px 0 $darken-3,
						  0 0 1px $darken-2;
	}

	&:disabled,
	&.is-disabled {
		opacity: .5;
		pointer-events: none;
	}
}
