//
// @name Button
// @page Components/Button
//
// @description 
// It's a button, don't press it. Our should you?
//
// @state :hover - Highlights when hovering.
// @state :disabled - Disables the button
//
// @markup
// <button class="btn">Button</button>
// <button class="btn btn-primary">Primary button</button>
// <button class="btn btn-secondary">Secondary Button</button>
// <button class="btn btn-outline">Outlined Button</button>
//
//

//
// @name Button
// @page Components/Button
//
// @description 
// A really good component, fitting all your needs.
//
// @state :hover - Highlights when hovering.
//
// @markup
//	<button class="btn">Button</button>
// 
//

.btn {
	font-family: inherit;
	font-size: 1rem;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	line-height: 1.125rem;
	padding: $space-3 $space-4;
	margin: 0;
	height: auto;
	border: 1px solid transparent;
	border-radius: $border-radius;
	vertical-align: middle;
	-webkit-appearance: none;
	color: inherit;
	background-color: transparent;

	&:hover {
		text-decoration: none;
	}
	
	&:focus {
		outline: none;
		border-color: rgba(0, 0, 0, .125);
		box-shadow: 0 0 0 3px rgba(0, 0, 0, .25);
	}
}