//
// @name Button
// @page Components/Button
//
// @description 
// It's a button, don't press it. Our should you?
//
// @state :hover - Highlights when hovering.
// @state :disabled - Disables the button
//
// @markup
// <button class="btn">Button</button>
// <button class="btn btn-primary">Primary button</button>
// <button class="btn btn-secondary">Secondary Button</button>
// <button class="btn btn-outline">Outlined Button</button>
//
//

.btn {
	font-family: inherit;
	font-size: 1rem;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	line-height: 1.125rem;
	padding: $space-3 $space-4;
	margin: 0;
	height: auto;
	border: 1px solid transparent;
	border-radius: $border-radius;
	vertical-align: middle;
	-webkit-appearance: none;

	&:hover {
		text-decoration: none;
	}
	
	&:focus {
		outline: none;
		border-color: rgba(0, 0, 0, .125);
		box-shadow: 0 0 0 3px rgba(0, 0, 0, .25);
	}
	
	@include element('small') {
		line-height: 1rem;
		padding: $space-2 $space-3;
	}
	
	@include modifier('primary') {
		color: $white;
	    background: $dark-blue;
	    border: 1px solid palette(dark-blue, dark);
	    text-shadow: 0 0 1px rgba(0, 0, 0, .3);

		&:hover {
			background: palette(dark-blue, x-light);
		}

		&:active {
			box-shadow: inset 0 0 0 20rem $darken-2,
						inset 0 3px 4px 0 $darken-3,
						0 0 1px $darken-2;
		}

		&:disabled,
		&.is-disabled {
			opacity: .5;
			pointer-events: none;
		}
	}

	@include modifier('secondary') {
		color: palette(grey, xx-dark);
	    background: palette(grey, dark);
	    border: 1px solid palette(grey, dark);
	    text-shadow: 0 0 0px rgba(0, 0, 0, .3);

		&:hover {
			background: palette(grey, light);
		}

		&:active {
			box-shadow: inset 0 0 0 20rem $darken-2,
						inset 0 3px 4px 0 $darken-3,
						0 0 1px $darken-2;
		}

		&:disabled,
		&.is-disabled {
			opacity: .5;
			pointer-events: none;
		}
	}

	@include modifier('outline') {
		color: $dark-blue;
		background:none;
    	border: 1px solid $dark-blue;;

		&:hover {
			background: palette(light-blue, light);
		}


		&:active {
			background: palette(light-blue, light);
		}

		&:disabled,
		&.is-disabled {
			opacity: .5;
			pointer-events: none;
		}
	}

}
