.comments {
	li {
		background: #fff;
		border: 1px solid $darken-2;
		margin-bottom: 2rem;

		.comment-body {
			padding-top: $space-3;
		}

		ul li {
			border: none;
			background: palette(light-blue, light);;
			margin-bottom: 0;
			padding-left: $space-4;
		}
	}

	article {
		padding: $space-3;
	}
}