//
// @name Content Navigation
// @page Components/Navigation
//
// @description 
// This component is used for navigation article content.
//
// @state :active - Applied to highlight the current article section.
// 
// @markup
// <nav class="content-nav">
// 	<span class="content-nav__heading">Innehållsmeny</span>
// 	<ul class="content-nav__list">
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Behandling</a></li>
// 		<li class="content-nav__item active"><a class="content-nav__link" href="#">Kontakt</a></li>
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Hosta</a></li>
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Farliga läkemedel</a></li>
// 	</ul>
// </nav>

// From styleguide

.content-nav-container {
	width: 100%;
}

.content-nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $light-yellow;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.03);

	@media screen and (min-width: $breakpoint-md) {
		position: sticky;
		background-color: transparent;
		box-shadow: none;
	}
}

.content-nav__header {
	display: flex;
	justify-content: space-between;
	padding: $space-1 $space-3;
	align-items: center;

	@media screen and (min-width: $breakpoint-md) {
		display: block;
		padding: 0;
		margin-bottom: $space-2;
	}
}

.content-nav__title {
	font-size: $h5;

	@media screen and (min-width: $breakpoint-md) {
		font-size: inherit;
	}
}

.content-nav__toggle-button {
	@media screen and (min-width: $breakpoint-md) {
		display: none;
	}
}

.content-nav__list {
	display: none;

	&.open {
		display: block;
	}

	@media screen and (min-width: $breakpoint-md) {
		display: block;
	}
}

.content-nav__item {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: $space-2;
	border-left: 4px solid $grey;

	&.active {
		border-left: 4px solid $dark-blue;
		font-weight: bold;
	}
}

.content-nav__level_h3 {
	padding-left: $space-3;
}

.content-nav__level_h4 {
	padding-left: $space-4;
}

.content-nav__link {
	display: inline;
	font-size: 0.875rem;
	border-radius: $border-radius;
	color: palette(dark-blue, dark);

	&:hover {
		color: palette(black, base);
	}
}

// Classes for Stickybit, position sticky polyfill
// https://github.com/dollarshaveclub/stickybits
.js--content-nav-is-stuck {
	position: fixed;
	max-width: 218px;
}
