//
// @name Content Navigation
// @page Components/Navigation
//
// @description 
// This component is used for navigation article content.
//
// @state :active - Applied to highlight the current article section.
// 
// @markup
// <nav class="content-nav">
// 	<span class="content-nav__heading">Innehållsmeny</span>
// 	<ul class="content-nav__list">
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Behandling</a></li>
// 		<li class="content-nav__item active"><a class="content-nav__link" href="#">Kontakt</a></li>
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Hosta</a></li>
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Farliga läkemedel</a></li>
// 	</ul>
// </nav>

.content-nav__heading  {
	font-weight: $bold-font-weight;
}

.content-nav__item {
	margin-top:    $space-1;
	margin-bottom: $space-1;

	&.active {
		padding-left: $space-2;
		border-left: 3px solid palette(dark-blue, base);
	}

	&.active .content-nav__link {
		color: palette(black, base)
	}
}

.content-nav__link {
	color: palette(grey, x-dark);

	&:hover {
		color: palette(black, base);
	}
}