//
// @name Content Navigation
// @page Components/Navigation
//
// @description 
// This component is used for navigation article content.
//
// @state :active - Applied to highlight the current article section.
// 
// @markup
// <nav class="content-nav">
// 	<span class="content-nav__heading">Innehållsmeny</span>
// 	<ul class="content-nav__list">
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Behandling</a></li>
// 		<li class="content-nav__item active"><a class="content-nav__link" href="#">Kontakt</a></li>
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Hosta</a></li>
// 		<li class="content-nav__item"><a class="content-nav__link" href="#">Farliga läkemedel</a></li>
// 	</ul>
// </nav>

.content-nav-container {
	width: 100%;
}

.content-nav {
	position: sticky;
	top: $space-2;
}

.content-nav__item {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.active {
		border-left: 4px solid $dark-blue;
		font-weight: bold;
	}
}

.content-nav__link {
	display: inline;
	font-size: .875rem;
	border-radius: $border-radius;
	color: palette($dark-blue, dark);

	&:hover {
		color: palette(black, base);
	}
}

.content-nav__item {
	padding-left: 1ex;
	border-left: 4px solid $grey;
}

.content-nav__level_h3 {
	padding-left: 2ex;
}

.content-nav__level_h4 {
	padding-left: 3ex;
}

// Classes for Stickybit, position sticky polyfill
// https://github.com/dollarshaveclub/stickybits
.js--content-nav-is-stuck {
	position: fixed;
	max-width: 218px;
}
