//
// @name Forms
// @page Components/Forms
//
// @description
// A really good component, fitting all your needs.
//
// @state :hover - Highlights when hovering.
//
// @markup
// <form>
// 	<label class="label" for="name">Name</label>
// 	<input class="input" name="name" type="text" placeholder="Anton Hübner">
// 	<label class="label" for="name">Phone</label>
// 	<input class="input" name="name" type="text" placeholder="+46701234567">
// 	<label class="label" for="name">E-mail</label>
// 	<input class="input" name="name" type="email" placeholder="anton.hubner@regionhalland.se">
// 	<button type="button" class="btn btn-primary">Submit</button>
// </form>
//
//

label,
.label {
	font-size: $h5;
	font-weight: $bold-font-weight;
	display: block;
	margin-bottom: $space-2;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
.input {
	font-family: inherit;
	font-size: inherit;
	display: block;
	width: 100%;
	padding: $space-3;
	margin-bottom: $space-3;
	border: 1px solid palette(grey, base);
	border-radius: $border-radius;
	&:focus {
		outline: none;
		border-color: rgba(0, 0, 0, .125);
		box-shadow: 0 0 0 3px rgba(0, 0, 0, .25);
	}

	&::placeholder {
		color: palette(blue, xx-light);
	}
}

select,
.select {
	font-family: inherit;
	font-size: inherit;
	display: block;
	width: 100%;
	height: 2.5rem;
	padding: $space-2;
	margin-bottom: $space-3;
	border: 1px solid palette(grey, base);
	border-radius: $border-radius;

	&::placeholder {
		color: palette(blue, xx-light);
	}

	@include modifier('inline') {
		display: inline-block;
	}

	@include modifier('small') {
		width: auto;
		height: auto;
		padding: $space-1;
	}
	
}

textarea,
.textarea {
	font-family: inherit;
	font-size: inherit;
	display: block;
	width: 100%;
	padding: $space-2;
	margin-bottom: $space-3;
	border: 1px solid palette(grey, base);
	border-radius: $border-radius;

	&::placeholder {
		color: palette(blue, xx-light);
	}
}
