//
// @name Forms
// @page Components/Forms
//
// @description 
// A really good component, fitting all your needs.
//
// @state :hover - Highlights when hovering.
//
// @markup
// <form>
// 	<label class="label" for="name">Name</label>
// 	<input class="input" name="name" type="text" placeholder="Anton Hübner">	
// 	<label class="label" for="name">Phone</label>
// 	<input class="input" name="name" type="text" placeholder="+46701234567">
// 	<label class="label" for="name">E-mail</label>
// 	<input class="input" name="name" type="email" placeholder="anton.hubner@regionhalland.se">	
// </form>
// 
// 

.label {
	font-size: $h5;
	font-weight: $bold-font-weight;
	display: block;
	margin-bottom: $space-2;
}

.input {
	font-family: inherit;
	font-size: inherit;
	display: block;
	width: 100%;
	height: 2.5rem;
	padding: $space-2;
	margin-bottom: $space-3;
	border: 1px solid palette(grey, light);
	border-radius: $border-radius;

	&::placeholder {
		color: palette(text, xx-light);
	}
}

.select {
	font-family: inherit;
	font-size: inherit;
	display: block;
	width: 100%;
	height: 2.5rem;
	padding: $space-2;
	margin-bottom: $space-3;
	border: 1px solid palette(grey, base);
	border-radius: $border-radius;

	&::placeholder {
		color: palette(text, xx-light);
	}
}

.textarea {
	font-family: inherit;
	font-size: inherit;
	display: block;
	width: 100%;
	padding: $space-2;
	margin-bottom: $space-3;
	border: 1px solid palette(grey, base);
	border-radius: $border-radius;

	&::placeholder {
		color: palette(text, xx-light);
	}
}
