//
// @name Icons
// @page Components/Icons
//
// @description
// Icons from <a href="https://github.com/iconic/open-iconic">https://github.com/iconic/open-iconic</a>
//
// @state .icon--sm - Small (8px)
// @state .icon--md - Medium (24px)
// @state .icon--lg - Large (32px)
// @state .icon--xl - Extra large (64px)
//
// @markup
// <div>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#account-login"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#account-logout"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#action-redo"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#action-undo"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#align-center"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#align-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#align-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#aperture"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-circle-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-circle-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-circle-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-circle-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-thick-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-thick-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-thick-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-thick-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#arrow-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#audio"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#audio-spectrum"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#badge"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#ban"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#bar-chart"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#basket"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#battery-empty"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#battery-full"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#beaker"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#bell"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#bluetooth"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#bold"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#bolt"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#book"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#bookmark"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#box"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#briefcase"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#british-pound"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#browser"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#brush"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#bug"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#bullhorn"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#calculator"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#calendar"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#camera-slr"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#caret-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#caret-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#caret-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#caret-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#cart"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#chat"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#check"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#chevron-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#chevron-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#chevron-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#chevron-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#circle-check"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#circle-x"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#clipboard"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#clock"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#cloud"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#cloud-download"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#cloud-upload"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#cloudy"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#code"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#cog"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#collapse-down"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#collapse-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#collapse-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#collapse-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#command"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#comment-square"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#compass"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#contrast"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#copywriting"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#credit-card"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#crop"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#dashboard"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#data-transfer-download"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#data-transfer-upload"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#delete"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#dial"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#document"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#dollar"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#double-quote-sans-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#double-quote-sans-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#double-quote-serif-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#double-quote-serif-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#droplet"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#eject"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#elevator"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#ellipses"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#envelope-closed"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#envelope-open"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#euro"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#excerpt"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#expand-down"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#expand-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#expand-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#expand-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#external-link"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#eye"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#eyedropper"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#file"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#fire"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#flag"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#flash"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#folder"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#fork"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#fullscreen-enter"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#fullscreen-exit"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#globe"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#graph"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#grid-four-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#grid-three-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#grid-two-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#hard-drive"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#header"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#headphones"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#heart"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#home"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#image"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#inbox"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#infinity"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#info"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#italic"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#justify-center"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#justify-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#justify-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#key"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#laptop"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#layers"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#lightbulb"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#link-broken"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#link-intact"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#list"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#list-rich"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#location"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#lock-locked"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#lock-unlocked"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#loop"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#loop-circular"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#loop-square"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#magnifying-glass"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#map"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#map-marker"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#media-pause"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#media-play"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#media-record"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#media-skip-backward"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#media-skip-forward"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#media-step-backward"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#media-step-forward"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#media-stop"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#medical-cross"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#menu"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#microphone"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#minus"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#monitor"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#moon"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#move"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#musical-note"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#paperclip"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#pencil"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#people"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#person"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#phone"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#pie-chart"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#pin"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#play-circle"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#plus"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#power-standby"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#print"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#project"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#pulse"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#puzzle-piece"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#question-mark"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#rain"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#random"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#reload"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#resize-both"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#resize-height"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#resize-width"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#rss"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#rss-alt"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#script"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#share"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#share-boxed"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#shield"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#signal"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#signpost"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#sort-ascending"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#sort-descending"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#spreadsheet"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#star"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#sun"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#tablet"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#tag"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#tags"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#target"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#task"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#terminal"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#text"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#thumb-down"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#thumb-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#timer"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#transfer"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#trash"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#underline"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#vertical-align-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#vertical-align-center"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#vertical-align-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#video"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#volume-high"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#volume-low"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#volume-off"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#warning"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#wifi"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#wrench"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#x"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#yen"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#zoom-in"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#zoom-out"/>
//	 </svg>
// 
// </div>
//

.icon {
	display: inline-block;
	height: 16px;
	width:  16px;
	vertical-align: middle;
}

.icon--sm {
	width:  8px;
	height: 8px;
}

.icon--md {
	width:  24px;
	height: 24px;
}

.icon--lg {
	width:  32px;
	height: 32px;
}

.icon--xl {
	width:  64px;
	height: 64px;
}