.icon-badge {
	box-sizing: content-box;
	display: inline-block;
	height: 12px;
	width:  12px;
	padding: 10px;
	overflow: visible;
	vertical-align: middle;
	border-radius: 100%;
	background: palette(light-blue, base);
	fill: palette(dark-blue, base);
}

.icon-badge--sm {
	width:  8px;
	height: 8px;
}

.icon-badge--md {
	width:  16px;
	height: 16px;
}

.icon-badge--lg {
	width:  24px;
	height: 24px;
}

.icon-badge--xl {
	width:  48px;
	height: 48px;
}