//
// @name Image
// @page Components/Image
//
// @description 
// Styles for images
//
//
// @markup
// <img class="img">
// <img class="img img--round">

//
//

.img {
	@include modifier('round') {
		border: 2px solid palette(grey, light);
		border-radius: 500px;
	}
}

.avatar {
	border: 2px solid palette(grey, light);
	border-radius: 500px;
}
