.list {
	margin-top: $space-3;
	margin-bottom: $space-3;
	padding-left: $space-4;

	@include modifier('none') {
		list-style-type: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	@include modifier('inline') {
		list-style-type: none !important;
		margin: 0 !important;
		padding: 0 !important;

		li {
			display: inline-block;
			padding: 0 $space-2;
		}
	}

}

.li {
	@include modifier('border-bottom') {
		border-bottom: 1px solid palette(grey);
		margin-bottom: $space-3;
		padding-bottom: $space-3;
	}
}

ul.list {
	list-style-type: disc;
}

ol.list {
	list-style-type: decimal;
}
