//
// @name Page Hero
// @page Components/Hero
//
// @description 
// A Page Hero that uses a 16:4.5 aspect ratio for tablet and up, otherwise a 4:3 aspect ratio.
//
// 
// @markup
// <div class="page-hero">
// 		<div class="page-hero__img-container">
// 			<picture>
// 				<source srcset="../dist/img/hero-image.jpg" media="(min-width: 600px)">
// 				<source srcset="../dist/img/hero-image-mobile.jpg">
// 				<img class="page-hero__img" src="../dist/img/hero-image.jpg" alt="">
// 			</picture>
// 		</div>
// 		<div class="page-hero__inner clearfix">
// 			<div class="page-hero__content col-12 sm-col-10">		
// 				<h1 class="page-hero__title">
// 					Digital Styleguide
// 				</h1>
// 			</div>
// 		</div>
// 	</div>


.page-hero {
	position:relative;
}

.page-hero__img-container {
	position: relative;
	padding-bottom:66.66%;
	background:$dark-blue;
	overflow:hidden;
	@media (min-width:$breakpoint-sm) {
		padding-bottom:28.125%;
	}
	&::after {
		content:'';
		background:$dark-blue;
		opacity: 0.75;
		height:100%;
		width:100%;
		top:0;
		left:0;
		position: absolute;
	}
}

.page-hero__img {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
}


.page-hero__inner {
	z-index:$z2;
	width:100%;
	position: absolute;
	top:50%;
	transform:translateY(-50%);
}

.page-hero__content {
	margin:0 auto;
	padding:0 $space-3;
}

.page-hero__title {
	color:$white;
	font-size:2.5em;
}