//
// @name Search Result
// @description
//
// @page Components/Search
//
// @description Used for displaying scoped search results
//
// @markup
// <div class="search-result">
// 	<a class="search-result__link" href="">
// 		<span class="search-result__title"><strong>Beha</strong>ndling</span>
// 		<div class="search-result__breadcrumbs">
// 			<span class="search-result__breadcrumb">Kapitel</span>
// 			<svg class="search-result__breadcrumb-icon  icon icon--sm">
// 				<use xlink:href="#arrow-right"/>
// 			</svg>
// 			<span class="search-result__breadcrumb">Underrubrik</span>
// 			<svg class="search-result__breadcrumb-icon  icon icon--sm">
// 				<use xlink:href="#arrow-right"/>
// 			</svg>
// 			<span class="search-result__breadcrumb">Sökfras</span>
// 		</div>
// 	</a>
// </div>

.search-result {
	padding:$space-3 $space-4;
	border-top:1px solid palette(grey, light);
	background:$white;
	&:hover {
		background:palette(grey, light);
	}
}

.search-result__link {
	color:$black;
}

.search-result__title {
	font-size:1.2em;
}

.search-result__breadcrumbs {
	font-size:0.9em;
	margin-top:$space-1;

}

.search-result__breadcrumb {

}


















