	//
// @name Search Header
// @description
//
// @page Components/Search
//
// @description Used for scoped search queries as opposed to site wide search queries.
//
// @state :focus - Highlights when focused.
// @markup
//	<div class="col col-12 p4 relative inline-block" style="background: #0e5aa4;">
//
//	<label class="search-header__label" for="search-header__input">Skriv för att börja söka i terapirekommendationerna</label>
//	<span class="search-header">
//		<input class="search-header__input  hint" type="search">
//		<input class="search-header__input" id="search-header__input" type="search" placeholder="Skriv här för att börja söka">
//		<span class="search-header__results">
//			<div class="search-header__dataset-1">
//				<span class="search-header__suggestions">
//					<div class="search-header__suggestion">
//						<span class="search-header__hit"><em>Syra</em>relaterade sjukdomar</span>
//						<div class="search-header__breadcrumbs">
//							<span class="search-header__breadcrumb h6">Kapitel</span>
//							<span class="search-header__breadcrumb h6">Delkapitel</span>
//							<span class="search-header__breadcrumb h6">Närmaste rubrik</span>
//						</div>
//					</div>
//					<div class="search-header__suggestion">
//						<span class="search-header__hit">Bensår</span>
//						<div class="search-header__breadcrumbs">
//							<span class="search-header__breadcrumb h6">Kapitel</span>
//							<span class="search-header__breadcrumb h6">Delkapitel</span>
//							<span class="search-header__breadcrumb h6">Närmaste rubrik</span>
//						</div>
//					</div>
//					<div class="search-header__suggestion">
//						<span class="search-header__hit">Benartärssjukdom</span>
//						<div class="search-header__breadcrumbs">
//							<span class="search-header__breadcrumb h6">Kapitel</span>
//							<span class="search-header__breadcrumb h6">Delkapitel</span>
//							<span class="search-header__breadcrumb h6">Närmaste rubrik</span>
//						</div>
//					</div>
//					<div class="search-header__suggestion">
//						<span class="search-header__hit">Benartärssjukdom</span>
//						<div class="search-header__breadcrumbs">
//							<span class="search-header__breadcrumb h6">Kapitel</span>
//							<span class="search-header__breadcrumb h6">Delkapitel</span>
//							<span class="search-header__breadcrumb h6">Närmaste rubrik</span>
//						</div>
//					</div>				
//					<div class="search-header__suggestion">
//						<span class="search-header__hit">Tobak</span>
//						<div class="search-header__breadcrumbs">
//							<span class="search-header__breadcrumb h6">Kapitel</span>
//							<span class="search-header__breadcrumb h6">Delkapitel</span>
//							<span class="search-header__breadcrumb h6">Närmaste rubrik?</span>
//						</div>
//					</div>	
//				</span>
//			</div>
//		</span>
//	</span>
//	<span class="search-header__example">Ex. Behandling luftrörskatarr</span>
//
//	</div>

.search-header {
	position: relative;
	display: inline-block;
	width: 100%;
}

.search-header__input {
	position: relative;
	width: 100%;
	padding: $space-3 $space-3;
	font-size: inherit;
	border: 1px solid $darken-3;
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.16);
	border-radius: $border-radius;

	&.hint {
		position: absolute;
		top: 0;
		left: 0;
		border-color: transparent;
		box-shadow: none;
		opacity: 1;
		background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
		color: palette(grey, x-dark);
	}

	&:focus {
		background: palette(grey, base);
		outline: none;
	}

	&::placeholder {
		color:palette(grey, x-dark);
	}
}

.search-header__label {
	display: block;
	margin-bottom: $space-2;
	color: $white;
	font-size: 0.9em;
}

.search-header__example {
	display: block;
	margin-top: $space-2;
	color: $white;
	font-size: 0.9em;
	font-style: italic;
	opacity: 0.8;
}

.search-header__results {
	position: absolute;
	top: $space-5;
	width: 100%;
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.16);
	background: $white;
	border: 1px solid $darken-3;
	border-radius: $border-radius;
	z-index: $z1;
	overflow-y: scroll;
	max-height: 360px;
}

.search-header__suggestion {
	padding: $space-3;

	&:hover,
	&:focus,
	&.cursor {
		background: palette(grey, base);
	}
	
	em {
		font-style: normal;
		font-weight: $bold-font-weight;
	}
}

.search-header__hit {
	line-height: 1;
}

.search-header__breadcrumb {
	margin-right: $space-1;

	&+&::before {
		content: "->";
		display: inline-block;
		margin-right: $space-1;
	}
}












