//
// @name Site Navigation
// @page Components/Navigation
//
// @description 
// A component created for the purpose of large site navigation.
//
// @state :hover - Highlights when hovering.
// 
// @markup
// <nav class="site-nav">
// 		<div class="top-nav">
// 			<div class="top-nav__logo">	
// 			</div>
// 			<div class="top-nav__search-wrapper">
// 				<div class="top-nav__search">
// 					<input type="text" placeholder="Sök på hela vårdgivarwebben" class="top-nav__search-input">
// 					<svg class="top-nav__search-icon  icon">
// 						<use xlink:href="#magnifying-glass"/>
// 					</svg>
// 				</div>
// 			</div>
// 			<ul class="top-nav__links">
// 				<li><a class="top-nav__link active" href="">Patientadministration</a></li>
// 				<li><a class="top-nav__link" href="">Behandlingsstöd</a></li>
// 				<li><a class="top-nav__link" href="">Kompetens & Utveckling</a></li>
// 				<li><a class="top-nav__link" href="">Service & IT</a></li>
// 				<li><a class="top-nav__link" href="">Uppdrag & Avtal</a></li>
// 			</ul>
// 		</div>
// 		<div class="sub-nav sub-nav--first-level">
// 			<ul class="sub-nav__links">
// 				<li><a class="sub-nav__link" href="">Patientadministration</a></li>
// 				<li><a class="sub-nav__link" href="">Behandlingsstöd</a></li>
// 				<li><a class="sub-nav__link" href="">Kompetens & Utveckling</a></li>
// 				<li><a class="sub-nav__link" href="">Service & IT</a></li>
// 				<li><a class="sub-nav__link active" href="">Uppdrag & Avtal</a></li>
// 			</ul>
// 		</div>
// 		<div class="sub-nav sub-nav--second-level">
// 			<ul class="sub-nav__links">
// 				<li><a class="sub-nav__link" href="">Patientadministration</a></li>
// 				<li><a class="sub-nav__link active" href="">Behandlingsstöd</a></li>
// 				<li><a class="sub-nav__link" href="">Kompetens & Utveckling</a></li>
// 			</ul>
// 		</div>
// 	</nav>


.site-nav {
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.16);
	border-bottom:1px solid $darken-2;
	display:none;
	position:relative;
	@media (min-width: $breakpoint-md) {
		display:block;
	}
}

.top-nav {
	background:$white;
	padding:0 $space-3;
	width:100%;
	position:relative;
	display:inline-flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap: wrap;
	@media (min-width: $breakpoint-md) {
		flex-wrap: nowrap;
	}
}

.top-nav__links {
	padding:0 $space-3;
	flex-basis:100%;
	display:flex;
	border-top:1px solid $darken-2;
	justify-content:center;
	@media (min-width: $breakpoint-md) {
		border-top:none;
		padding:0 $space-4;
		justify-content:flex-end;
	}
}
.top-nav__link {
	display:inline-block;
	padding:1.45em 0;
	margin:0 $space-2;
	font-weight:bold;
	color:palette(black, xx-light);
	font-size:0.95em;
	position:relative;
	@media (min-width: $breakpoint-md) {
		padding:1.75em 0;
	}
	&::after {
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		height:$space-1;
	}
	&:hover {
		color:$black;
	}
	&:hover::after  {
		background:$darken-2;
	}
	&.active {
		color:$black;
	}
	&.active::after  {
		background:$green;
	}
}

.top-nav__logo {
	background:palette(grey, light);
	height:50px;
	width:225px;
	padding:$space-3 0;
	border-radius:$border-radius;
	@media (min-width: $breakpoint-md) {
		padding:0;
	}
}


.top-nav__search-wrapper {
	padding:$space-3 0;
	@media (min-width: $breakpoint-md) {
		order:3;
		padding:0;
	}
}


.top-nav__search {
	position: relative;
}

.top-nav__search-icon {
	position:absolute;
	right:$space-3;
	top:50%;
	transform:translateY(-50%);
}

.top-nav__search-input {
	width:300px;
	height:45px;
	padding:$space-3 $space-3;
	border:1px solid $darken-3;
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.16);
	font-size:0.9em;
	border-radius:$border-radius;
	transition:background 0.2s;

	&:focus {
		background:palette(grey, light);
		outline:none;
	}

	&::placeholder {
		color:palette(grey, x-dark);
	}
}


.sub-nav {
	background:$white;
	padding:0 $space-3;
	position:relative;
	border-top:1px solid $darken-2;
	display:inline-flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap: wrap;
	height:-2.4em;
	bottom:-2.4em;
	width:100%;
	position:absolute;
	left:0;
	right:0;
	@media (min-width: $breakpoint-md) {
		flex-wrap: nowrap;
	}
}

.sub-nav--first-level {
	background:$light-blue;
	.sub-nav__link {
		&.active::after  {
			background:$blue;
		}
	}
}

.sub-nav--second-level {
	background:$light-yellow;
	.sub-nav__link {
		&.active::after  {
			background:$yellow;
		}
	}
}

.sub-nav__links {
	padding:0 $space-4;
	flex-basis:100%;
	display:flex;
	justify-content:center;
}
.sub-nav__link {
	display:inline-block;
	padding:$space-2 0;
	margin:0 $space-2;
	font-weight:normal;
	color:palette(black, xx-light);
	font-size:0.9em;
	position:relative;
	&::after {
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		height:$space-1;
	}
	&:hover {
		color:$black;
	}
	
	&:hover::after  {
		background:$darken-2;
	}
	&.active {
		color:$black;
		font-weight:bold;
	}
	&.active::after  {
		background:$green;
	}
}