//
// @name Support Header
// @page Components/Navigation
//
// @description 
// A support header contains information about the site, accessibility tools and language settings.
//
// @state :hover - Highlights when hovering.
// 
// @markup
// <div class="support-header clearfix">
// 	<a class="support-header__skip-link" href="">Hoppa till innehåll</a>
// 	<ul class="support-header__links">
// 		<li class="support-header__item has-dropdown">
// 			<button class="support-header__link" href="">
// 				<span class="support-header__link-text">Region Hallands Webbplatser</span>
// 				<svg class="support-header__icon  icon icon--sm">
// 					<use xlink:href="#caret-bottom"/>
// 				</svg>
// 			</button>
// 			<ul class="support-header__dropdown">
// 				<li>
// 					<a href="" class="support-header__dropdown-link">
// 						<span>www.regionhalland.se</span>
// 						<svg class="support-header__dropdown-icon  icon icon--sm">
// 							<use xlink:href="#share-boxed"/>
// 						</svg>
// 					</a>
// 				</li>
// 				<li>
// 					<a href="" class="support-header__dropdown-link">
// 						<span>www.regionhalland.se</span>
// 						<svg class="support-header__dropdown-icon  icon icon--sm">
// 							<use xlink:href="#share-boxed"/>
// 						</svg>
// 					</a>
// 				</li>
// 				<li>
// 					<a href="" class="support-header__dropdown-link">
// 						<span>www.regionhalland.se</span>
// 						<svg class="support-header__dropdown-icon  icon icon--sm">
// 							<use xlink:href="#share-boxed"/>
// 						</svg>
// 					</a>
// 				</li>
// 			</ul>
// 		</li>
// 		<li class="support-header__item">
// 			<a class="support-header__link" href="">
// 				<span class="support-header__link-text">Lyssna</span>
// 				<svg class="support-header__icon  icon icon--sm">
// 					<use xlink:href="#headphones"/>
// 				</svg>
// 			</a>
// 		</li>
// 		<li class="support-header__item">
// 			<a class="support-header__link" href="">
// 				<span class="support-header__link-text">Translate</span>
// 				<svg class="support-header__icon  icon icon--sm">
// 					<use xlink:href="#translate"/>
// 				</svg>
// 			</a>
// 		</li>
// 	</ul>
// </div>

.support-header {
	width:100%;
	background:palette(grey, base);
	padding:0 $space-3;
	z-index:$z4;
	position:relative;
}

.support-header__skip-link {
	position:absolute;
	top:$space-2;
	left:$space-2;
	padding:$space-2;
	background:$dark-blue;
	border-radius:$border-radius;
	color:$white;

	//Needs review before publishing
	opacity:0;
	&:focus {
		opacity:1;
	}
}

.support-header__item {
	padding:$space-1 0;
	display:inline-block;
	position:relative;
	&:hover {
		background:$darken-1;
		.support-header__icon {
			fill:palette(black, x-light);
		}
	}
	&.has-dropdown {
		.support-header__link { 
			background:none;
		}
	}
	&.has-dropdown:hover {
		.support-header__dropdown {
			display:block;
		}
	}
}

.support-header__links {
	float:right;
}

.support-header__link {
	margin:0 $space-2;
	color:palette(black, x-light);
	font-size:0.9em;
}

.support-header__dropdown-link {
	padding:$space-2;
	display:block;
	font-size:1em;

	&:hover {
		background:$darken-1;
	}
}

.support-header__dropdown {
	color:palette(black, x-light);
	font-size:0.9em;
	min-width:100%;
	background:palette(grey, base);
	padding:$space-2;
	position:absolute;
	top:$space-4;
	z-index:$z3;
	right:0;
	display:none;
	color:red;

	&.open {
		display:block;
	}
}

.support-header__dropdown-icon {
	margin-left:$space-1;
	fill:$dark-blue;
}

.support-header__icon {
	margin-left:$space-1;
	fill: $darken-3;
}