//
// @name Table
// @page Components/Table
//
// @description A table
//
// @markup
// <table class="table">
//     <thead>
//	       <tr>
//	           <th colspan="2">What is good</th>
//	       </tr>
//     </thead>
//     <tbody>
//         <tr class="table__subheader">
//             <td>Good</td>
//             <td>Amount</td>
//         </tr>
//         </tr>
//             <td>Gingerbread</td>
//             <td>9</td>
//         </tr>
//         <tr>
//             <td>Jelly-o</td>
//             <td>8</td>
//         </tr>
//         <tr>
//             <td>Apple pie</td>
//             <td>10</td>
//         </tr>
//         <tr>
//             <td>Apple pie</td>
//             <td>10</td>
//         </tr>
//         <tr>
//             <td>Apple pie</td>
//             <td>10</td>
//         </tr>
//     </tbody>
//     <tfoot>
//         <tr>
//             <td colspan="3">Table foot</td>
//         </tr>
//     </tfoot>
// </table>
//


.table,
.article table {
	border: 1px solid palette(grey, light);
	// Workaround for border-collapse bug.
	// https://stackoverflow.com/questions/25591499/chrome-bug-with-colspan-and-border
	box-shadow: 1px 0 0 0 palette(grey, light);

	thead,
	.table__header {
		background: $dark-blue;
		color: $white;
		text-align: center;
	}

	.table__subheader {
		background: $light-blue;
	}

	td, th {
		padding: $space-1 $space-2;	
	}

	tbody tr:nth-child(even) {
		background: palette(grey, light);
	}

    tbody + tfoot {
        border-top: 1px solid palette(grey, light);
    }
}
