//
// @name Vertical Navigation
// @page Components/Navigation
//
// @description 
// A really good component, fitting all your needs.
//
// @state :hover - Highlights when hovering.
// @state .open - Defaults to its open state, i.e. .open on desktop – toggle .open class on .vertical-nav to open or close.
// 
// @markup
// <nav>
// 	<ul class="vertical-nav">
//		<li class="vertical-nav__header">
//			<span class="vertical-nav__heading--dynamic">Alternativ</span>
//			<span class="vertical-nav__heading--static">Meny</span>
// 			<button class="vertical-nav__button">
// 				<svg class="vertical-nav__icon  icon">
// 					<use xlink:href="#menu"/>
// 				</svg>
// 			</button>
//		</li>
// 		<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 		<li class="vertical-nav__item active"><a class="vertical-nav__link" href="#">Alternativ (active)</a></li>
// 		<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 		<li class="vertical-nav__item has-sub-menu is-expanded">
// 		<a class="vertical-nav__link" href="#">Alternativ</a>
//			<button class="vertical-nav__button">
//				<span class="sr-only">Show submenu</span>
//				<svg class="icon--sm"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../dist/icons/sprite.svg#caret-bottom"></use></svg>
//			</button>
// 			<ul class="vertical-nav__sub-menu">
// 				<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 				<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 				<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 				<li class="vertical-nav__item has-sub-menu">
// 					<a class="vertical-nav__link" href="#">Alternativ</a>
// 					<ul class="vertical-nav__sub-menu">
// 						<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Världens längsta alternativ</a></li>
// 						<li class="vertical-nav__item static">Alternativ</li>
// 						<li class="vertical-nav__item">
// 							<a class="vertical-nav__link" href="#">Världens längsta alternativ</a>
// 						</li>
// 					</ul>
// 				</li>
// 				<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 			</ul>
// 		</li>
// 		<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 		<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 		</ul>
// </nav>


.vertical-nav {
	border: 1px solid palette(grey, base);
	padding: 0;
	border-radius: $border-radius;
	overflow: hidden;

	&.open {
		
		.vertical-nav__item {
			display: block;
		}
		
	}
}

.vertical-nav__header {
	background: $grey;
	position: relative;

	@media screen and (min-width: $breakpoint-md) {

		.vertical-nav__button {
			display: none;	
		}
	}
}

.vertical-nav__heading--dynamic,
.vertical-nav__heading--static {
	position: relative;
	font-weight: bold;
	padding: $space-2 $space-3;
	padding-right: 2.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vertical-nav__heading--static {
	display: none;
	@media screen and (min-width: $breakpoint-md) { display: block }
}

.vertical-nav__heading--dynamic {
	display: block;
	@media screen and (min-width: $breakpoint-md) { display: none }
}

.vertical-nav__item {
	display: none;
	border-bottom: 1px solid palette(grey, light);

	.vertical-nav__sub-menu {
		display: none;
	}

	&.is-expanded {

		& > .vertical-nav__sub-menu {
			display: block;
		}

		& > .vertical-nav__button {
			transform: rotate(180deg);
		}

	}

	&.has-sub-menu {
		position: relative;
	}

	&.has-sub-menu > .vertical-nav__link {
		padding-right: 2.5rem;
	}

	&.static {
		padding: $space-2 $space-3;
		border-bottom: 1px solid palette(grey, light);
	}

	&.active > .vertical-nav__link {
		background: palette(grey, light);
		font-weight: bold;
	}

	&:last-of-type {
		border-bottom: none;
	}

	@media screen and (min-width: $breakpoint-md) {
		display: block;
	}
}

.vertical-nav__link {
	position: relative;
	display: block;
	padding: $space-2 $space-3;
	color: palette(black, dark);

	&:hover  { background: palette(grey, light); }
	
	&.active { 
		background: palette(grey, light);
		font-weight: bold;   
	}
}

.vertical-nav__sub-menu {
	border-top: 1px solid palette(grey, base);
	border-left: $space-2 solid palette(grey, base);
}

.vertical-nav__button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	appearance: none;
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	width:  2.5rem;
	height: 2.5rem;
	line-height: 0;
	z-index: $z1;

	&:hover {
		fill: $blue;
		background:palette(grey, light);
	}

	&:focus {
		outline: 0;
	}
}