//
// @name Vertical Navigation
// @page Components/Navigation
//
// @description 
// A really good component, fitting all your needs.
//
// @state :hover - Highlights when hovering.
// @state .active - Defaults to its open state, i.e. .active on desktop – toggle .active class on mobile to open or close.
// 
// @markup
// <nav>
// <ul class="vertical-nav">
//	<div class="vertical-nav__header">
//		<span class="vertical-nav__heading">Sidmeny</span>
// 		<button class="vertical-nav__header-button">
// 			<svg class="vertical-nav__icon  icon icon--md">
// 				<use xlink:href="../dist/icons/sprite-2.svg#magnifying-glass"/>
// 			</svg>
// 		</button>
//	</div>
// 	<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 	<li class="vertical-nav__item active"><a class="vertical-nav__link" href="#">Alternativ (active)</a></li>
// 	<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 	<li class="vertical-nav__item has-children is-expanded">
// 		<a class="vertical-nav__link" href="#">Alternativ</a>
//		<button class="vertical-nav__toggle">
//			<span class="sr-only">Show submenu</span>
//			<svg class="icon--sm"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../dist/icons/sprite.svg#caret-bottom"></use></svg>
//		</button>
// 		<ul class="vertical-nav__sub-menu">
// 			<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 			<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 			<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 			<li class="vertical-nav__item has-children">
// 				<a class="vertical-nav__link" href="#">Alternativ</a>
// 				<ul class="vertical-nav__sub-menu">
// 					<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Världens längsta alternativ</a></li>
// 					<li class="vertical-nav__item static">Alternativ</li>
// 					<li class="vertical-nav__item has-children">
// 						<a class="vertical-nav__link" href="#">Världens längsta alternativ</a>
// 					</li>
// 				</ul>
// 			</li>
// 			<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 		</ul>
// 	</li>
// 	<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// 	<li class="vertical-nav__item"><a class="vertical-nav__link" href="#">Alternativ</a></li>
// </ul>
// </nav>


.vertical-nav {
	border: 1px solid palette(grey, base);
	padding: 0;
	border-radius: $border-radius;
	overflow:hidden;
}

.vertical-nav__header {
	padding:$space-3;
	background:$grey;
	.vertical-nav__heading {
		font-size:1.1em;
		font-weight:bold;
		vertical-align: middle;
	}
	.vertical-nav__header-button {
		background:red;
		padding:$space-1;
		float:right;
	}
}

.vertical-nav__item {
	display: block;
	border-bottom: 1px solid palette(grey, light);
	//background: white;

	.vertical-nav__sub-menu {
		display: none;
	}

	&.is-expanded {

		& > .vertical-nav__sub-menu {
			display: block;
		}

		& > .vertical-nav__toggle {
			transform: rotate(180deg)
		}

	}

	&.has-children {
		position: relative;
	}

	&.has-children > .vertical-nav__link {
		padding-right: 32px;
	}

	&.static {
		padding: $space-1 $space-2;
		border-bottom: 1px solid palette(grey, light);
	}

	&.active {
		background: palette(grey, light);
	}

	&:last-of-type {
		border-bottom: none;
	}
}

.vertical-nav__link {
	position: relative;
	display: block;
	padding: $space-2 $space-2;

	&:hover  { background: palette(grey, light); }
	&:active { background: palette(grey, light);   }
}

.vertical-nav__sub-menu {
	border-top: 1px solid palette(grey, base);
	border-left: $space-2 solid palette(grey, base);
}

.vertical-nav__toggle {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	appearance: none;
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	width:  $space-4;
	height: $space-4;
	line-height: 0;
	z-index: $z1;

	&:hover {
		fill: blue;
	}

	&:focus {
		outline: 0;
	}
}