<div class="rh-tabs">
	<ul class="rh-tabs-list">
		<li class="rh-tabs-list-item"> 
			<p class="rh-tabs-list-item-text">Tabtitle</p>
			<span class="rh-tabs-list-item-icon"></span>
		</li>
		<li class="rh-tabs-list-item">
			<p class="rh-tabs-list-item-text">Tabtitle</p>
			<span class="rh-tabs-list-item-icon"></span>
		</li>
		<li class="rh-tabs-list-item">
			<p class="rh-tabs-list-item-text">Tabtitle</p>
			<span class="rh-tabs-list-item-icon"></span>
		</li>
		<li class="rh-tabs-list-item">
			<p class="rh-tabs-list-item-text">Tabtitle</p>
			<span class="rh-tabs-list-item-icon"></span>
		</li>
	</ul>
</div>	