
<div class="rh-hero">

	<img class="rh-image-hero" src="https://images.pexels.com/photos/905874/pexels-photo-905874.jpeg" alt="Nature">

	<div class="rh-caption-hero">     
	    <h5 class="rh-caption-hero-title">
	    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
	    </h5>
	</div>

</div>





