
.rh-round-button {

  /* Visuellt */
  background: $round-button--background;
  border: $round-button--border;
  border-radius: $round-button--border-radius;
  padding: $round-button--padding;

  /* Typografi */
  color: $round-button--color;
  font-family: $round-button--font-family;
  font-size: $round-button--font-size;
  text-decoration: $round-button--text-decoration;

  &--small {
    padding: $round-button--padding-small;
  }

  &:hover,&:active {

    /* Visuellt */
    @if $round-button--background-color-hover-active {
        background-color: $round-button--background-color-hover-active;
    }

    /* Typografi */
    @if $round-button--color-hover-active {
        color: $round-button--color-hover-active;
    }
    
  }

  &--vuxhalland {
    /* Visuellt */
    background: $vuxhalland;
    border: 1px solid $vuxhalland;

    /* Typografi */
    color: black;
  }

  &--vuxhalland:hover,&:active {
    /* Typografi */
    color: black;
  }

}
