
{{#if isDefault}}
    <a href="" class="{{icon}} rh-round-button"></a>
{{else}}
    <div class="rh-round-button-fx rh-round-button-{{suffix}}">
        <span class="{{icon}}"></span>
    </div>
{{/if}}