// Spacing
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 1rem;
$space-4: 2rem;
$space-5: 4rem;
$space-6: 8rem;

// Type-scale
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: 0.875rem;
$h6: 0.75rem;

// Typography
$sans-font-family: "Scala-Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$code-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$line-height-1: 1;
$line-height-2: 1.125;
$line-height-3: 1.25;
$line-height-4: 1.5;
$letter-spacing: 1;
$caps-letter-spacing: 0.2em;
$bold-font-weight: bold;

$border-radius: 3px;

// Colors
$white: #fff;
$grey: #e4e4e4;
$black: #000;

$dark-blue: #0e5aa4;
$blue: #6ca2d5;
$light-blue: #cee2f2;

$light-green: #d2e1c6;
$green: #438011;

$yellow: #fdb813;
$light-yellow: #fff1ce;

$dark-red: #c82828;
$red: #f53131;
$light-red: #fcc8c8;

$palettes: (
	grey: (
		xx-light : lighten($grey, 7%),
		x-light  : lighten($grey, 5%),
		light    : lighten($grey, 2%),
		base     : $grey,
		dark     : darken($grey, 8%),
		x-dark   : darken($grey, 24%)
	),
	black: (
		xx-light : lighten($black, 35%),
		x-light  : lighten($black, 22%),
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 8%),
		x-dark   : darken($black, 24%)
	),
	white: (
		xx-light : lighten($white, 35%),
		x-light  : lighten($white, 22%),
		light    : lighten($white, 10%),
		base     : $white,
		dark     : darken($white, 8%),
		x-dark   : darken($white, 24%)
	),
	blue: (
		light    : lighten($blue, 2.5%),
		base     : $blue,
		dark     : darken($blue, 8%),
	),
	dark-blue: (
		light    : lighten($dark-blue, 5%),
		base     : $dark-blue,
		dark     : darken($dark-blue, 8%),
	),
	light-blue: (
		light    : lighten($light-blue, 10%),
		base     : $light-blue,
		dark     : darken($light-blue, 8%),
	),
	green: (
		light    : lighten($green, 10%),
		base     : $green,
		dark     : darken($green, 8%),
	),
	light-green: (
		light    : lighten($light-green, 10%),
		base     : $light-green,
		dark     : darken($light-green, 8%),
	),
	yellow: (
		light    : lighten($yellow, 10%),
		base     : $yellow,
		dark     : darken($yellow, 8%),
	),
	light-yellow: (
		light    : lighten($light-yellow, 10%),
		base     : $light-yellow,
		dark     : darken($light-yellow, 8%),
	),
	red: (
		light    : lighten($red, 10%),
		base     : $red,
		dark     : darken($red, 8%),
	),
	light-red: (
		light    : lighten($light-red, 10%),
		base     : $light-red,
		dark     : darken($light-red, 8%),
	),
	dark-red: (
		light    : lighten($dark-red, 10%),
		base     : $dark-red,
		dark     : darken($dark-red, 8%),
	),
);

// Darken
$darken-1: rgba(0, 0, 0, 0.0625);
$darken-2: rgba(0, 0, 0, 0.125);
$darken-3: rgba(0, 0, 0, 0.25);


// Widths
$width-1: 24rem;
$width-2: 32rem;
$width-3: 48rem;
$width-4: 64rem;

// Container
$container-max-width: 1240px;

// Breakpoints

//Small Tablets
$breakpoint-sm: 40em;
//Tablet
$breakpoint-md: 65em;
//Laptop and up
$breakpoint-lg: 80em;

$breakpoints: (
  xs: 0,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
) !default;

// Z-index
$z1: 1;
$z2: 2;
$z3: 3;
$z4: 4;

