.rh-linkgroup {
	dispaly: block;
   	overflow: auto;
   	width: 100%;
	padding-top: em(8);
	padding-bottom: em(8);
	padding-left: em(11);
	padding-right: em(5);
	border-left: 4px solid $color-primary;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	background-color: $grey-lightest;
	cursor: pointer;

	p{
		display: inline-block;
		float:left;	
		margin-bottom: 0;
		margin-top: em(7);
		@include medium { margin-top: em(4);}
		@include large { margin-top: em(4);}
		color: $black;
		font-weight: bold;
	}

	span:after {
		display: inline-block;
        float:right;
        padding: em(8);
		margin-right: 10px;
		border-radius: 50%;
		background-color: $color-primary;	
		font-family: "feather"; 
		content: "\e8b1";
		color: $white;
		font-size: em(14);
	}
}

.active {
	background-color: $color-primary;
	p{	 	
	 	color: $white;
	}
	span:after {
		background-color: $white;
		font-family: "feather"; 
		color: $color-primary;
		content: "\e897";
	}
}


.rh-linkgroup-panel {
	overflow: hidden;
  	max-height: 0;
  	background-color: $grey-lightest;
	transition: max-height 0.2s ease-out;
	-webkit-transition: max-height 0.2s;

  	ul{
  		margin-left: 10px;
  		margin-right: 10px;
  		padding: 5px;
  	}

  	li{
  		margin-top:10px;
  		margin-bottom:15px;
  		font-size: $p-small;
  		@include medium { font-size: $p-medium;}
		@include large { font-size: $p-large;}
	}		
  				
}




