/* Organism - Footer group */
$footer-group--background-color: $base3-light; //Can use "false"
$footer-group-main-color: false; //Can use "false"

$footer-group__text--color: $footer-group-main-color;//Can use "false"
$footer-group__text--line-height: 1.6;

$footer-group__link--color: $footer-group-main-color;//Can use "false"
$footer-group__link--line-height: 2.75; //44px

$footer-group__header--margin-bottom: .8em;
$footer-group__header--border-bottom-width: 0.125em;
$footer-group__header--border-bottom-style: solid;
$footer-group__header--border-bottom-color: $footer-group-main-color;//Can use "false"

$footer-group__header-title--font-size: 1em;
$footer-group__header-title--font-size-large: 1.4em;
$footer-group__header-title--font-weight: bold;
$footer-group__header-title--line-height: 1.6;

$footer-group__body--font-size: 0.875em; //14px
$footer-group__body--font-size-large: 1em; //16px
$footer-group__body--word-break: break-word;
$footer-group__body-address--margin: .8em 0;

$footer-group__container-py: 2.5em; //40px

$footer-group__item-container--padding-top: 0;
$footer-group__item-container--padding-right: 0;
$footer-group__item-container--padding-bottom: 2.5em;
$footer-group__item-container--padding-left: 0;

$footer-group__item-container--padding-medium-top: 1.5em;
$footer-group__item-container--padding-medium-right: 1.5em;
$footer-group__item-container--padding-medium-bottom: 1.5em;
$footer-group__item-container--padding-medium-left: 1.5em;

$footer-group__item--height: 100%;