/* Organism - Footer group */
$footer-group--background-color: #f4f4f4;
$footer-group-main-color: false;
$footer-group__text--color: $footer-group-main-color;
$footer-group__link--color: $footer-group-main-color;

$footer-group__header--border-bottom-width: 0.125em;
$footer-group__header--border-bottom-style: solid;
$footer-group__header--border-bottom-color: $footer-group-main-color;

$footer-group__container-py: 2.5em;