<ul class="rh-secondary-nav">

	<li class="rh-secondary-nav-item-parentlevel">
		<a class="rh-secondary-nav-link" href="#">Navigationsalternativ</a>
	</li>

	<li class="rh-secondary-nav-item-toplevel">
		<a class="rh-secondary-nav-link" href="#">Navigationsalternativ</a>
	</li>

	<li class="rh-secondary-nav-item-toplevel-subsides">
		<a class="rh-secondary-nav-link" href="#">Navigationsalternativ</a>
		<span class="rh-secondary-nav-item-icon"></span>
	</li>

	<li class="rh-secondary-nav-item-sublevel">
		<a class="rh-secondary-nav-link" href="#">Navigationsalternativ</a>
	</li>

</ul>


