<div class="rh-personal-info">
 	<div class="rh-avatar center"><div class="avatar-content">KT</div></div>

	<div class="rh-personal-info-content">
		<h5>Kalle Testsson</h5>
		<h6>Verksamhetsstöd IT - Administratör</h6>
		<hr>
		<h6><strong>Mobil:</strong> 073 - 401 77 77 </h6>
		<h6><strong>Tel:</strong> 073 - 401 77 77</h6>
		<h6><strong>Epost:</strong> regionen@regionhalland.se</h6>
		<h6><strong>Besöksadress:</strong> Fiskaregatan 2 Halmstad</h6>
	</div>
</div>



<div style="height:100px"></div>


