<div class="rh-circle-button rh-circle-button--{{type}}{{#if hasBorder}} rh-circle-button--border{{/if}}{{#if extendClass}} {{extendClass}}{{/if}}">
    <span class="{{icon}} rh-circle-button__icon"></span>
</div>