<div class="rh-buttongroup">
    <div class="rh-buttongroup__button rh-buttongroup__button--left">
        <a class="rh-buttongroup__button-text" href="">Val 1</a>
    </div>
    <div class="rh-buttongroup__button">
        <a class="rh-buttongroup__button-text" href="">Val 2</a>
    </div>
    <div class="rh-buttongroup__button rh-buttongroup__button--right">
        <a class="rh-buttongroup__button-text" href="">Val 3</a>
    </div>
</div>