<div class="rh-search-external-1177">
	<h6 class="rh-search-external-1177-title">Lorem ipsum dolor sit amer</h6>

	<p class="rh-search-external-1177-text"><a class="rh-search-external-1177-text-link"> Länk till annan webbplats </a></p>

	<p class="rh-search-external-1177-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidunt ut labore et dolore manga aliqua. Ut enim ad mino veniam.</p>

</div>