html {
	box-sizing: border-box;
	text-size-adjust: 100%;

	@media (min-width: $breakpoint-md) {
		font-size: 112.5%; /* 18px */
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $sans-font-family;
	line-height: $line-height-4;
	color: palette(text, base);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $bold-font-weight;
	color: palette(text, x-dark);
}

strong,
.strong { font-weight: $bold-font-weight }

em, .em,
i, .i { font-style: italic }

a {
	text-decoration: none;
	color: $color-primary;
}

table {
	width: 100%;
	max-width: 100%;
}

th { 
	font-weight: $bold-font-weight;
	vertical-align: bottom; 
	text-align: left;
}	

img {
	width: 100%;
	max-width: 100%;
}

pre,
code,
kbd,
samp {
	font-family: $code-font-family;
	font-size: 1rem;
}

pre {
	margin-top: 0;
	overflow: auto;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sub { bottom: -0.25em }
sup { top: -0.5em }

figcaption {
	font-size: $h5;
	font-style: italic;
}