html {
	box-sizing: border-box;
	text-size-adjust: 100%;

	@media (min-width: $breakpoint-md) {
		font-size: 112.5%; /* 18px */
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $sans-font-family;
}

a {
	text-decoration: none;
	color: $color-primary;
}

pre,
code,
kbd,
samp {
	font-family: $code-font-family;
	font-size: 1rem;
}

pre {
	margin-top: 0;
	overflow: auto;
	background: orange;
	padding: $space-2;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sub { bottom: -0.25em }
sup { top: -0.5em }