html {
	box-sizing: border-box;

	@media (min-width: $breakpoint-md) {
		font-size: 112.5%; /* 18px */
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $sans-font-family;
}

a {
	text-decoration: none;
	color: $color-primary;	
}