@font-face {
	font-family: 'scala-sans';
	src: url('../fonts/scalasans-bold-webfont.woff2') format('woff2'),
		 url('../fonts/scalasans-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style:  normal;

}

@font-face {
	font-family: 'scala-sans';
	src: url('../fonts/scalasans-bolditalic-webfont.woff2') format('woff2'),
		 url('../fonts/scalasans-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style:  italic;

}

@font-face {
	font-family: 'scala-sans-caps';
	src: url('../fonts/scalasans-caps-webfont.woff2') format('woff2'),
		 url('../fonts/scalasans-caps-webfont.woff') format('woff');
	font-weight: 400;
	font-style:  normal;

}

@font-face {
	font-family: 'scala-sans-caps';
	src: url('../fonts/scalasans-capsitalic-webfont.woff2') format('woff2'),
		 url('../fonts/scalasans-capsitalic-webfont.woff') format('woff');
	font-weight: 400;
	font-style:  italic;

}

@font-face {
	font-family: 'scala-sans';
	src: url('../fonts/scalasans-italic-webfont.woff2') format('woff2'),
		 url('../fonts/scalasans-italic-webfont.woff') format('woff');
	font-weight: 400;
	font-style:  italic;

}

@font-face {
	font-family: 'scala-sans';
	src: url('../fonts/scalasans-regular-webfont.woff2') format('woff2'),
		 url('../fonts/scalasans-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style:  normal;

}