.rh-search-external{
	padding-top: em(10); 	
	padding-bottom: em(10); 	
	padding-left: em(15); 	
	padding-right: em(15); 	
	background-color: $grey-lightest;
	border: 1px solid $base2;
	border-radius: 4px;

	&-title{
		display: inline-block;
	}

	&-text{
		display: block;
		margin-bottom: em(15);
		font-size: em(10);
		color: $grey-darkest;
		@include medium{
			display: inline-block;
			margin-left: em(20);
			font-size: em(13);
		}
		@include large{
			font-size: em(14);
		}

		&-link{
		    cursor: pointer;
		    text-decoration: none;

		    &:hover, &:active {
		      text-decoration: underline;  
		    }
		    &:visited {
		      color: $link-visited;
		    }
	    }
		
		&:before {
			margin-right: em(10);
			padding: em(8);
			background: $base2;
			border-radius: 50%;
			font-weight: normal;
	    	font-family: "feather"; 
	    	content: "\e869";
	    	color: $white;
		}
	}

	&-description{
		color: $grey-darker;
		font-size: em(11);
		@include medium{font-size: em(15);}
		@include large{font-size: em(16);}
	}
}