<div class="rh-search-external">
	<h6 class="rh-search-external-title">Lorem ipsum dolor sit amer</h6>

	<p class="rh-search-external-text"><a class="rh-search-external-text-link"> Länk till annan webbplats </a></p>

	<p class="rh-search-external-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidunt ut labore et dolore manga aliqua. Ut enim ad mino veniam.</p>

</div>