/* Needed components
-> /components/Molecules/block/_block.scss
*/

.rh-block-group {
    &__item {
        padding-top: $block-group__item-container--padding-top;
        padding-right: $block-group__item-container--padding-right;
        padding-bottom: $block-group__item-container--padding-bottom;
        padding-left: $block-group__item-container--padding-left;
        
        .rh-block-box {
            height: $block-group__item--height;
        }
    
        @include medium {
            padding-top: $block-group__item-container--padding-medium-top;
            padding-right: $block-group__item-container--padding-medium-right;
            padding-bottom: $block-group__item-container--padding-medium-bottom;
            padding-left: $block-group__item-container--padding-medium-left;
        }
    }

    &__container {
        // Definition
        $prefix: "rh-block-group__container";
        $container-py: $prefix + "-py";
        $container-px: $prefix + "-px";
        $container-p: $prefix + "-p";

        // Offset calculation for grid system
        $container-py-offset-top: $block-group__container--padding-y - $block-group__item-container--padding-medium-top;
        $container-py-offset-bottom: $block-group__container--padding-y - $block-group__item-container--padding-medium-bottom;

        $container-px-offset-left: $block-group__item-container--padding-medium-left;
        $container-px-offset-right: $block-group__item-container--padding-medium-right;

        // CSS Generation
        @include create-container-py($container-py, $block-group__container--padding-y, $container-py-offset-top, $container-py-offset-bottom){
            padding-bottom: $block-group__container--padding-y - $block-group__item-container--padding-bottom;
        };
        @include create-container-px($container-px, $container-px-offset-left, $container-px-offset-right);

        @include create-container-p($container-p, $container-py, $container-px) {
            @if $block-group__container--background-color {
                background-color: $block-group__container--background-color;
            }
        }
    }
}