/* Organism - Block group */
$block-group__container--background-color: #f9f9f9;

$block-group__container--padding-y: 1.875em;  //30px

$block-group__item-container--padding-top: 0;
$block-group__item-container--padding-right: 0;
$block-group__item-container--padding-bottom: 1.2em;
$block-group__item-container--padding-left: 0;

$block-group__item-container--padding-medium-top: .6em;
$block-group__item-container--padding-medium-right: .6em;
$block-group__item-container--padding-medium-bottom: .6em;
$block-group__item-container--padding-medium-left: .6em;

$block-group__item--height: 100%;