@import './form-control-text.settings.scss';

.rh-form-group {
    /* Box-modell/beteende */
    margin-bottom: 0.9375em;

    // Using when an input text control has an icon that is within
    &--has-icon {
        /* Positionering */
        position: relative;
    }
}

.rh-form {
    &__control {
        /* Box-modell/beteende */
        display: block;
        height: 2.125em;
        width: 100%;
        padding: 0.375em 0.75em;
    
        /* Typografi */
        font-size: $form-control--font-size;
        line-height: 1.42857143;
    
        /* Visuellt */
        background-color: $white;
        border: 0.0625em solid $grey-light;
        border-radius: 0.25em;
        /* Typografi */
        color: $black;
    
        &:focus {
            /* Visuellt */
            border: 0.0625em solid $complementary2;
    
            /* Typografi */
            color: $grey-dark;
        }
    
        &:disabled {
            /* Visuellt */
            border: 0.0625em solid $grey-light;
            background: $grey-lightest;
    
            /* Blandat/övrigt */
            cursor: not-allowed;
        }
    
        &--success {
            /* Visuellt */
            border: 0.0625em solid $base3;
        }
    
        &--error {
            /* Visuellt */
            border: 0.0625em solid $warning;
        }
    }

    &__label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0.3125em;

        &-text--required {
            color: $form-text--required;
        }
    }

    &__text {
        &--muted {
            font-size: $form-text--muted--font-size;
        }

        &--required {
            color: $form-text--required;
        }
    }
}

// Form icon is using for the input text control
.rh-form-icon {
    /* Positionering */
    position: relative;
    top: 0.0625em;

    /* Box-modell/beteende */
    display: inline-block;

    /* Typografi */
    font-family: "feather";
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    &__placeholder {
        /* Positionering */
        position: absolute;
        top: 1.25em;
        right: 0;
        z-index: 2;

        /* Box-modell/beteende */
        display: block;
        height: 2.125em;
        width: 2.125em;

        /* Typografi */
        line-height: 2.125em;
        text-align: center;
    }

    &--success:before {
        /* Typografi */
        color: $base3;

        /* Blandat/övrigt */
        content: "\e83f";
    }

    &--error:before {
        /* Typografi */
        color: $warning;

        /* Blandat/övrigt */
        content: "\e81e";
    }
}