<div class="rh-caption-mini{{#if modifier}} rh-caption-mini{{modifier}}{{/if}}{{#if extendClass}} {{extendClass}}{{/if}}">
    <p class="rh-caption-mini-text{{#if text.extendClass}} {{text.extendClass}}{{/if}}">{{text.content}}</p>
</div>