<div class="rh-event-card-calendar">
	<div class="rh-event-card-calendar-date">
		<h4 class="rh-event-card-calendar-date-day">14</h4>
		<h6 class="rh-event-card-calendar-date-month">sep</h6>
	</div>	

	<div class="rh-event-card-calendar-description">
		<h5 class="rh-event-card-calendar-title"> <a class="rh-event-card-calendar-title-link">Lorem ipsum dolor sit amet </a></h5>
		<p class="rh-event-card-calendar-inline rh-event-card-calendar-time"> 
			18.30 - 21.30
		</p> 

		<p class="rh-event-card-calendar-inline">
			|
		</p> 

		<p class="rh-event-card-calendar-inline rh-event-card-calendar-place">
			Platser finns
		</p>
		
		<p class="rh-search-descpription">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco  laboris nisi ut aliquip ex ea commodo consequat. 
		</p>
		<span class="rh-labels">Kultur</span>
		<span class="rh-labels">Kulturevenemang</span>
		<span class="rh-labels">Dans</span>
	</div>	
</div>	


<div style="height:100px"></div> 


<div class="rh-event-card-calendar rh-event-card-calendar-small">
	<div class="rh-event-card-calendar-date">
		<h4 class="rh-event-card-calendar-date-day">14</h4>
		<h6 class="rh-event-card-calendar-date-month">sep</h6>
	</div>	


	<div class="rh-event-card-calendar-description">
		<p class="rh-event-card-calendar-title rh-event-card-calendar-title-small"> Lorem ipsum dolor sit amet </p>
		<p class="rh-event-card-calendar-time rh-event-card-calendar-time-small"> 18.30 - 21.30</p> 
	</div>	
</div>	
