<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/css/components.css' }}">
    <title>Preview</title>
</head>
<body style="padding: 1rem;">

{{{ yield }}}

<script src="{{ path '/assets/main.js' }}"></script>
</body>
</html>
