<div class="rh-navigation-block">
    <div class="rh-navigation-block__header">
        <div class="rh-circle-button rh-circle-button--small rh-navigation-block__header-icon-button">
            <span class="icon-arrow-right"></span>
        </div>
        <div class="rh-navigation-block__header-title">
            <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                {{title}}
            </a>
        </div>
    </div>

    <div class="rh-navigation-block__description{{#if description.extendClass}} {{description.extendClass}}{{/if}}">
        <p class="rh-navigation-block__description-text">
            {{description.text}}
        </p>
    </div>
</div>