// Common styling generation
@mixin rh-block-effect-creator($text-color, $text-decoration) {
    @if $text-color {
        color: $text-color;
    }

    @if $text-decoration {
        text-decoration: $text-decoration;
    }
}

@mixin rh-block-effect-hover-active {
    border-top: $block__box-tabbing-focus--border-top;
    border-right: $block__box-tabbing-focus--border-right;
    border-left: $block__box-tabbing-focus--border-left;
    box-shadow: $block__box-tabbing-focus--box-shadow;
}

@mixin rh-block-effect-tabbing-focus {
    @include rh-block-effect-hover-active;
}

// Component styling
.rh-block {
    /* Positionering */
    position: relative;

    /* Box-modell/beteende */
    @if $block--width {
        width: $block--width;
    }

    /* Typografi */
    text-align: $block--text-align;

    &-content {
        /* Box-modell/beteende */
        margin-top: 0;
        padding: $block__text-container--padding;
        box-sizing: border-box;

        &__title {

            /* Typografi */
            @if $block__text-title--color {
                color: $block__text-title--color;
            }

            font-weight: $block__text-title--font-weight;
        }

        // The empty class is using for clickable effect
        &__description {}
    }

    img {
        /* Box-modell/beteende */
        width: $block__img--width;
        margin-bottom: $block__img--margin-bottom;
        border-radius: $block__img--border-radius;
    }

    &-box {
        /* Positionering */
        position: relative;

        /* Box-modell/beteende */
        @if $block__box--max-width {
            max-width: $block__box--max-width;
        }

        border-top: $block__box--border-top;
        border-right: $block__box--border-right;
        border-bottom: $block__box--border-bottom;
        border-left: $block__box--border-left;
        border-radius: $block__box--border-radius;

        // The effects are enabled when the component is clickable
        @if $block__box--isClickable {

            &:hover {
                .rh-block-content__title {
                    @include rh-block-effect-creator($block__box-clickable__title--text-color-hover, $block__box-clickable__title--text-decoration-hover)
                }

                .rh-block-content__description {
                    @include rh-block-effect-creator($block__box-clickable__description--text-color-hover, $block__box-clickable__description--text-decoration-hover);
                }
            }

            &:active {
                .rh-block-content__title {
                    @include rh-block-effect-creator($block__box-clickable__title--text-color-active, $block__box-clickable__title--text-decoration-active);
                }

                .rh-block-content__description {
                    @include rh-block-effect-creator($block__box-clickable__description--text-color-active, $block__box-clickable__description--text-decoration-active);
                }
            }

            &:focus-within {
                .rh-block-content__title {
                    @include rh-block-effect-creator($block__box-clickable__title--text-color-focus, $block__box-clickable__title--text-decoration-focus);
                }

                .rh-block-content__description {
                    @include rh-block-effect-creator($block__box-clickable__description--text-color-focus, $block__box-clickable__description--text-decoration-focus);
                }
            }
        }

        // Common effects
        &:hover,
        &:active {
            @include rh-block-effect-hover-active;
        }

        // Using separate for SASS generating
        &:focus-within {
            @include rh-block-effect-tabbing-focus;
        }
    }

    &--clickable {
        /* Positionering */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        /* Box-modell/beteende */
        height: 100%;
        width: 100%;
        outline: none;
    }

    &--focus {
        @include rh-block-effect-tabbing-focus;
    }
}