.rh-block {
    /* Positionering */
    position: relative;

    /* Box-modell/beteende */
    @if $block--width {
        width: $block--width;
    }

    /* Typografi */
    text-align: $block--text-align;

    &-text {
        /* Box-modell/beteende */
        margin-top: 0;
        padding: $block__text-container--padding;
        box-sizing: border-box;

        &-title {
            /* Typografi */
            @if $block__text-title--color {
                color: $block__text-title--color;
            }
            font-weight: $block__text-title--font-weight;
        }
    }

    img {
        /* Box-modell/beteende */
        width: $block__img--width;
        margin-bottom: $block__img--margin-bottom;
        border-radius: $block__box--border-radius $block__box--border-radius 0 0;
    }

    &-box {
        /* Box-modell/beteende */
        @if $block__box--max-width {
            max-width: $block__box--max-width;
        }

        border-top: $block__box--border-top;
        border-right: $block__box--border-right;
        border-bottom: $block__box--border-bottom;
        border-left: $block__box--border-left;
        border-radius: $block__box--border-radius;
    }
}
