<!-- -----------  Molekylen rh-last-updated ---------------------- -->

<p>Senast uppdaterad: <strong>30 augusti 2018</strong></p>
<p><a>Kontakta sidansvarig</a></p>




<!-- -----------  Molekylen rh-feedback -------------------------  -->

<div class="rh-feedback">
    <hr>

    <p>Fick du hjälp av informationen på sidan?</p>
    <button class="rh-button" aria-label="Text som förklarar funktionen om man lyssnar med talsyntes utan att se kontexten" role="button">Ja</button>
    <button class="rh-button" aria-label="Text som förklarar funktionen om man lyssnar med talsyntes utan att se kontexten" role="button">Nej</button>
</div>
