/* Atoms - Button */
$button--background-color: $white;

$button--padding-top: 0.625em;
$button--padding-right: 0.375em;
$button--padding-bottom: 0.625em;
$button--padding-left: 0.375em;

$button--padding-top-medium: 0.5em;
$button--padding-right-medium: 0.5em;
$button--padding-bottom-medium: 0.5em;
$button--padding-left-medium: 0.5em;

$button--padding-top-large: 0.625em;
$button--padding-right-large: 0.625em;
$button--padding-bottom-large: 0.625em;
$button--padding-left-large: 0.625em;

$button--border: 0.0625em solid $grey-base;
$button--border-radius: 0.25em;
$button--box-shadow: 0.0625em 0.125em 0.375em $color-shadow;

$button-text--color: $black;
$button-text--text-align: center;

$button-text--font-size: $font-size-small;
$button-text--line-height: 1em;
$button-text--font-size-medium: $font-size-medium;
$button-text--line-height-medium: 1.3125em;
$button-text--font-size-large: $font-size-large;
$button-text--line-height-large: 1.5em;
$button--text-decoration: none;

$button--hover-text-decoration: underline; // Can be false

$button--active-background-color: $grey-lightest;
$button--active-border: 0.0625em solid $grey-base;
$button--active-color: $black;
$button--active-text-decoration: none; // Can be false

$button--disabled-background-color: $grey-lighter;
$button--disabled-border: 0em;
$button--disabled-color: $grey-base;
$button--disabled-text-decoration: none; // Can be false

$button--primary-background-color: $color-primary;
$button--primary-color: $white;
$button--primary-hover-text-decoration: underline; // Can be false
$button--primary-active-background-color: $white;
$button--primary-active-border: 0.0625em solid $color-primary;
$button--primary-active-color: $color-primary;
$button--primary-active-text-decoration: none; // Can be false

$button--secondary-background-color: $color-secondary;
$button--secondary-color: $white;
$button--secondary-hover-text-decoration: underline; // Can be false
$button--secondary-active-background-color: $white;
$button--secondary-active-border: 0.0625em solid $color-secondary;
$button--secondary-active-color: $color-secondary;
$button--secondary-active-text-decoration: none; // Can be false

$button--icon: "\e844";
$button--icon-margin-left: 1em;
$button--icon-text-decoration: none;
$button--icon-background-color: false;
$button--icon-color: false;