.rh-article {

    &-title {
        /* Typografi */
        color: $color-primary;

        &-link {
            /* Typografi */
            font-size: inherit;
            text-decoration: none;
            color: inherit;

            /* Blandat/övrigt */
            cursor: pointer;

            &:hover,
            &:active {
                /* Typografi */
                text-decoration: underline;
            }

            &:visited {
                /* Typografi */
                color: $link-visited;
            }
        }
    }

    &-published {
        /* Typografi */
        color: $grey-dark;
    }

    &-description {
        /* Typografi */
        color: $black;
    }

    ul {
        /* Visuellt */
        list-style-type: bullet;
    }
}