<div class="rh-article">
	<h5 class="rh-article-title"><a class="rh-article-title-link" href="#">{{title}}<a/></h5>
	<p class="rh-article-published">{{published}}</p>
    
	<p class="rh-article-description">{{description}}</p>

    {{#each label}}
        <span class="rh-labels">{{text}}</span>
    {{/each}}
</div>