
.rh-logo-sitename{
    /* Box-modell/beteende */
    display: flex;
    align-items: center;  
	width: 100%;

	&-logo{
    /* Box-modell/beteende */
	width: em(172);
	margin-right: em(21);

		@include medium {
            /* Box-modell/beteende */
			width: em(172);
			margin-right: em(21);
		}

		@include large {
            /* Box-modell/beteende */
			width: em(308);
			margin-right: em(29);
		}
	}

	&-title{
        /* Typografi */
		font-weight: normal;
		color: $black;
		font-size: em(14);

		@include medium {
            /* Typografi */
			font-size: em(14);
		}

		@include large {
            /* Typografi */
			font-size: em(20);
		}
	}
}


