* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.rh-block-on-mobile {
	display: block;

	@include medium {
		display: inline;
	}
}

#hidden{
	display: none;
}

.hidden-sm {
	display: none;

	@include medium {
		display: block;
	}
}

.center{
  	margin-left: auto;
  	margin-right: auto;
}