

// Screen size variables
$breakpoint-sm: 300px;  // Small (Phone)
$breakpoint-md: 992px;  // Medium (Tablet)
$breakpoint-lg: 1200px; // Large (Desktop)


// Mixins
@mixin small { @media (min-width: $breakpoint-sm) {@content;} } // Small
@mixin medium { @media (min-width: $breakpoint-md) {@content;} } // Medium
@mixin large { @media (min-width: $breakpoint-lg) {@content;} } // Large
