
// Typography

$h1-small : em(24);
$h2-small : em(22);
$h3-small : em(20);
$h4-small : em(18);
$h5-small : em(16);
$h6-small : em(14);
$p-small  : em(13);

$h1-medium : em(32);
$h2-medium : em(26);
$h3-medium : em(22);
$h4-medium : em(20);
$h5-medium : em(18);
$h6-medium : em(16);
$p-medium  : em(15);

$h1-large : em(40);
$h2-large : em(28);
$h3-large : em(24);
$h4-large : em(22);
$h5-large : em(20);
$h6-large : em(18);
$p-large  : em(16);

$h1-line-height-small : em(33);
$h2-line-height-small : em(30);
$h3-line-height-small : em(23);
$h4-line-height-small : em(25);
$h5-line-height-small : em(22);
$h6-line-height-small : em(19);

$h1-line-height-medium : em(44);
$h2-line-height-medium : em(36);
$h3-line-height-medium : em(25);
$h4-line-height-medium : em(28);
$h5-line-height-medium : em(25);
$h6-line-height-medium : em(22);

$h1-line-height-large : em(55);
$h2-line-height-large : em(39);
$h3-line-height-large : em(28);
$h4-line-height-large : em(28);
$h5-line-height-large : em(28);
$h6-line-height-large : em(25);


$base__font-size : 16px;
$base__line      : 24px;

$font-size-small  : em(13);
$font-size-medium : em(15);
$font-size-large  : em(16);

$line-height-small 	: em(16);
$line-height-medium : em(21);
$line-height-large  : em(24);



h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: bold;
}



p {
	margin-bottom: 1.5em;
	color: $black;
	font-size: $p-small;		
	
	@include medium {
	  	font-size: $p-medium;	
	}
	@include large {
		font-size: $p-large;	
	}

}
  


h1{

	font-size: $h1-small;	
	line-height: $h1-line-height-small;

	@include medium {
	  	font-size: $h1-medium;	
		line-height: $h1-line-height-medium;
	}
	@include large {
	  	font-size: $h1-large;	
		line-height: $h1-line-height-large;
	}
}
h2{
	font-size: $h2-small;	
	line-height: $h2-line-height-small;

	@include medium {
	  	font-size: $h2-medium;	
		line-height: $h2-line-height-medium;
	}
	@include large {
	  	font-size: $h2-large;	
		line-height: $h2-line-height-large;
	}
}
h3{
	font-size: $h3-small;	
	line-height: $h3-line-height-small;

	@include medium {
	  	font-size: $h3-medium;	
		line-height: $h3-line-height-medium;
	}
	@include large {
	  	font-size: $h3-large;	
		line-height: $h3-line-height-large;
	}
}
h4{

	font-size: $h4-small;	
	line-height: $h4-line-height-small;

	@include medium {
	  	font-size: $h4-medium;	
		line-height: $h4-line-height-medium;
	}
	@include large {
	  	font-size: $h4-large;	
		line-height: $h4-line-height-large;
	}
}
h5{

	font-size: $h5-small;	
	line-height: $h5-line-height-small;

	@include medium {
	  	font-size: $h5-medium;	
		line-height: $h5-line-height-medium;
	}
	@include large {
	  	font-size: $h5-large;	
		line-height: $h5-line-height-large;
	}
}
h6{
	font-size: $h6-small;	
	line-height: $h6-line-height-small;

	@include medium {
	  	font-size: $h6-medium;	
		line-height: $h6-line-height-medium;
	}
	@include large {
	  	font-size: $h6-large;	
		line-height: $h6-line-height-large;
	}
}