
// Text

$h1-small : 24px;
$h2-small : 22px;
$h3-small : 20px;
$h4-small : 18px;
$h5-small : 16px;
$h6-small : 14px;
$p-small  : 13px;

$h1-medium : 32px;
$h2-medium : 26px;
$h3-medium : 22px;
$h4-medium : 20px;
$h5-medium : 18px;
$h6-medium : 16px;
$p-medium  : 15px;

$h1-large : 40px;
$h2-large : 28px;
$h3-large : 24px;
$h4-large : 22px;
$h5-large : 20px;
$h6-large : 18px;
$p-large  : 16px;

$h1-line-height-small : 33px;
$h2-line-height-small : 30px;
$h3-line-height-small : 23px;
$h4-line-height-small : 25px;
$h5-line-height-small : 22px;
$h6-line-height-small : 19px;

$h1-line-height-medium : 44px;
$h2-line-height-medium : 36px;
$h3-line-height-medium : 25px;
$h4-line-height-medium : 28px;
$h5-line-height-medium : 25px;
$h6-line-height-medium : 22px;

$h1-line-height-large : 55px;
$h2-line-height-large : 39px;
$h3-line-height-large : 28px;
$h4-line-height-large : 28px;
$h5-line-height-large : 28px;
$h6-line-height-large : 25px;


$base__font-size : 16px;
$base__line      : 24px;

$font-size-small  : 13px;
$font-size-normal : 15px;
$font-size-large  : 16px;

$line-height-small 	: 16px;
$line-height-normal : 21px;
$line-height-large  : 24px;

$height-small 	: 35px;
$height-normal 	: 40px;
$height-large  	: 45px;



h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: bold;
}



p {
	margin-bottom: 1.5em;
	color: $black;

	@include small {
		font-size: $p-small;		
	}
	@include medium {
	  	font-size: $p-medium;	
	}
	@include large {
		font-size: $p-large;	
	}

}
  





h1{
	@include small {
	  	font-size: $h1-small;	
		line-height: $h1-line-height-small;
	}
	@include medium {
	  	font-size: $h1-medium;	
		line-height: $h1-line-height-medium;
	}
	@include large {
	  	font-size: $h1-large;	
		line-height: $h1-line-height-large;
	}
}
h2{
	@include small {
	  	font-size: $h2-small;	
		line-height: $h2-line-height-small;
	}
	@include medium {
	  	font-size: $h2-medium;	
		line-height: $h2-line-height-medium;
	}
	@include large {
	  	font-size: $h2-large;	
		line-height: $h2-line-height-large;
	}
}
h3{
	@include small {
	  	font-size: $h3-small;	
		line-height: $h3-line-height-small;
	}
	@include medium {
	  	font-size: $h3-medium;	
		line-height: $h3-line-height-medium;
	}
	@include large {
	  	font-size: $h3-large;	
		line-height: $h3-line-height-large;
	}
}
h4{
	@include small {
	  	font-size: $h4-small;	
		line-height: $h4-line-height-small;
	}
	@include medium {
	  	font-size: $h4-medium;	
		line-height: $h4-line-height-medium;
	}
	@include large {
	  	font-size: $h4-large;	
		line-height: $h4-line-height-large;
	}
}
h5{
	@include small {
	  	font-size: $h5-small;	
		line-height: $h5-line-height-small;
	}
	@include medium {
	  	font-size: $h5-medium;	
		line-height: $h5-line-height-medium;
	}
	@include large {
	  	font-size: $h5-large;	
		line-height: $h5-line-height-large;
	}
}
h6{
	@include small {
	  	font-size: $h6-small;	
		line-height: $h6-line-height-small;
	}
	@include medium {
	  	font-size: $h6-medium;	
		line-height: $h6-line-height-medium;
	}
	@include large {
	  	font-size: $h6-large;	
		line-height: $h6-line-height-large;
	}
}