
.rh-navigation-card{
	margin-bottom: em(45);
	@include medium { height: 6em; }
	@include large { height: 5em; }

	.rh-navigation-card-title{

		&-icon {
			&:after {
				margin-right: 1ex;
				padding: em(6);
				background: $base3;
				color: white;
				border-radius: 50%;
				font-weight: normal;
		    	font-family: "feather";
		    	content: "\e829";
				font-size: $p-small;
				@include medium { font-size: $p-medium;}
				@include large { font-size: $p-large;}
			}
		}

		&-link{
		    display: inline-block;
		    cursor: pointer;
		    font-size: inherit;
		    text-decoration: none;
		  	color: $color-primary;
		  	line-height: 1em;

		    &:hover,
		    &:active {
		      text-decoration: underline;  
		    }

		    &:visited {
		      color: $link-visited;
		    }
		}
	}

	.rh-navigation-card-description{
		max-width: 95%;
		color: $grey-dark;
		padding-top: 1ex;
	}
}






