.rh-search-field {
    /* Positionering */
    align-items: center;

    /* Box-modell/beteende */
    display: flex;
    width: 100%;

    .rh-search-term {
        /* Box-modell/beteende */
        width: 100%;
        padding: $search-field__term--padding; //em(10);
        margin-right: -5px;

        /* Visuellt */
        border-top: $search-field__term--border-top; //1px solid $grey-light;
        border-left: $search-field__term--border-left; //1px solid $grey-light;
        border-bottom: $search-field__term--border-bottom; //1px solid $grey-light;
        border-right: $search-field__term--border-right; //0;
        border-radius: $search-field__term--border-radius; //4px 0 0 4px;

        /* Typografi */
        @if $search-field__term--color {
            color: $search-field__term--color;
        }
        @if $search-field__term--font-size {
            font-size: $search-field__term--font-size;
        }
        @if $search-field__term--font-family {
            font-family: $search-field__term--font-family;
        }

        /* Blandat/övrigt */
        outline: none;

        @include medium {
            @if $search-field__term--font-size-medium {
                /* Typografi */
                font-size: $search-field__term--font-size-medium;
            }
        }

        @include large {
            @if $search-field__term--font-size-large {
                /* Typografi */
                font-size: $search-field__term--font-size-large;
            }
        }

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            
            /* Typografi */
            color: $grey-darker;

            /* Blandat/övrigt */
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */

            /* Typografi */
            color: $grey-darker;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */

            /* Typografi */
            color: $grey-darker;
        }

        &:focus {
            /* Visuellt */
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 0;
        }

        &-larger {
            /* Box-modell/beteende */
            padding: em(15);

            /* Typografi */
            font-size: $p-large;

            @include large {
                /* Box-modell/beteende */
                padding: em(20);
            }
        }

        &:disabled {
            /* Visuellt */
            border: 1px solid $grey-light;
            background-color: $grey-lightest;
            
            /* Blandat/övrigt */
            cursor: not-allowed;
            
            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                
                /* Typografi */
                color: $grey-base;

                /* Blandat/övrigt */
                opacity: 1;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                /* Typografi */
                color: $grey-base;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                /* Typografi */
                color: $grey-base;
            }
        }
    }

    .rh-search-button {
        /* Box-modell/beteende */
        padding-top: $search-field__button--padding-top; //em(10);
        padding-right: $search-field__button--padding-right; //em(10);
        padding-bottom: $search-field__button--padding-bottom; //em(10);
        padding-left: $search-field__button--padding-left; //em(10);

        /* Visuellt */
        @if $search-field__button--border {
            border: $search-field__button--border;
        }
        border-radius: $search-field__button--border-radius;
        background: $search-field__button--background;

        /* Typografi */
        color: $search-field__button--color;
        text-align: center;
        font-size: $search-field__button--font-size;
        font-weight: $search-field__button--font-weight;

        min-width: 4em;

        /* Blandat/övrigt */
        cursor: pointer;

        @include medium {
            /* Typografi */
            font-size: $p-medium;
        }

        @include large {
            /* Typografi */
            font-size: $p-large;
        }

        &:active {
            /* Visuellt */
            border: 1px solid $complementary2;
            background: $complementary2;
        }

        &-larger {
            /* Box-modell/beteende */
            padding: em(15);

            /* Typografi */
            font-size: $p-large;

            @include large {
                /* Box-modell/beteende */
                padding: em(20);
            }
        }

        &:disabled {
            /* Visuellt */
            border: 1px solid $grey-light;
            background-color: $grey-light;

            /* Typografi */
            color: $grey-dark;

            /* Blandat/övrigt */
            cursor: not-allowed;
        }
    }
}