.rh-filter-alphabet {
    /* Box-modell/beteende */
    display: $filter-alphabet--display;
    flex-wrap: $filter-alphabet--flex-wrap;

    /* Visuellt */
    border: $filter-alphabet--border;
    border-radius: $filter-alphabet--border-radius;

    @include medium {
        /* Box-modell/beteende */
        max-width: $filter-alphabet--medium--max-width;
    }

    @include large {
        /* Box-modell/beteende */
        max-width: $filter-alphabet--large--max-width;
    }

    &-link {
        /* Box-modell/beteende */
        padding-top: $filter-alphabet-link--padding-top;
        padding-bottom: $filter-alphabet-link--padding-bottom;
        padding-left: $filter-alphabet-link--padding-left;
        padding-right: $filter-alphabet-link--padding-right;

        /* Typografi */
        text-decoration: $filter-alphabet-link--text-decoration;
        color: $black;
        font-size: $p-small;

        @include medium {
            /* Typografi */
            font-size: $p-medium;
        }

        @include large {
            /* Typografi */
            font-size: $p-large;
        }

        &:active,
        &:hover,
        &--active {
            /* Visuellt */
            background-color: $filter-alphabet--background-color-active-hover;
            
            /* Typografi */
            color: $filter-alphabet--text-color-active-hover;
        }

        &:focus {
            /* Visuellt */
            background-color: $filter-alphabet-link--focus--background-color;
            outline: $filter-alphabet-link--focus--outline;

            /* Typografi */
            color: $filter-alphabet-link--focus--color;
        }
    }
}