/* Molecules - Filter alphabet */
$filter-alphabet--border: 0.0625em solid $grey-dark;
$filter-alphabet--border-radius: 0.25em; //4px

$filter-alphabet--background-color-active-hover: $base3;
$filter-alphabet--text-color-active-hover: #ffffff;