/* Molecules - Filter alphabet */
$filter-alphabet--display: flex;
$filter-alphabet--flex-wrap: wrap;
$filter-alphabet--border: 0.0625em solid $grey-dark;
$filter-alphabet--border-radius: 0.25em; //4px

$filter-alphabet--background-color-active-hover: $base3;
$filter-alphabet--text-color-active-hover: #ffffff;

$filter-alphabet-link--focus--background-color: $base3-light;
$filter-alphabet-link--focus--outline: black;
$filter-alphabet-link--focus--outline: none;

//Medium
$filter-alphabet--medium--max-width: 843px;

// Large
$filter-alphabet--large--max-width: 898px;

$filter-alphabet-link--padding-top: em(15);
$filter-alphabet-link--padding-bottom: em(15);
$filter-alphabet-link--padding-left: em(10);
$filter-alphabet-link--padding-right: em(10);
$filter-alphabet-link--text-decoration: none;

