
.rh-button {
    position: absolute;
    display: inline-block;
    padding: em(10) em(6);
    background-color: $white;   
    border: 1px solid $grey-base;
    border-radius: 4px;
    box-shadow: 1px 2px 6px $color-shadow;
    color: $black;
    text-align: center;
    font-family: inherit;
    font-size: $font-size-small;
    line-height: $line-height-small;
        
    &:hover{
        text-decoration: underline;
    }
    &:active{
        background-color: $grey-lightest;
        border: 1px solid $grey-base;
        color: $black;
        text-decoration: none;
    }
    &:disabled{
        background-color: $grey-lighter;
        color: $grey-base;
        border: 0px;
        text-decoration: none;
    }

    &--primary {
        background-color: $color-primary;
        color: $white;
        &:hover{
            text-decoration: underline;
        }
        &:active{
            background-color: $white;
            border: 1px solid $color-primary;
            color: $color-primary;
            text-decoration: none;
        }
    }

    &--secondary {
        background-color: $color-secondary;
        color: $white;
        &:hover{
            text-decoration: underline;
        }
        &:active{
            background-color: $white;
            border: 1px solid $color-secondary;
            color: $color-secondary;
            text-decoration: none;
        }      
    }

    &--icon {

        &:after{
        display: inline-block;
        margin-left: em(16);
        //font-family: "FontAwesome"; 
        //content: "\f002";
        content:">"
        }

    }

    @include medium {
        padding: em(8) em(8);
        font-size: $font-size-medium;
        line-height: $font-size-medium;
    }
    @include large {
        padding: em(10) em(10);
        font-size: $font-size-large;
        line-height: $line-height-large;
    }
}


