.rh-news-info {
    /* Box-modell/beteende */
    display: flex;
    
    /* Typografi */
    font-size: em(11);
    
    /* Typografi */
	@include medium { font-size: em(15); }
	@include large { font-size: em(16); }

	.rh-news-info-title {
        /* Box-modell/beteende */
		margin-right: 30px;
	}

	.rh-news-info-text {
        /* Typografi */
		color: $grey-darkest;
	}

	.rh-news-info-text-link {
        /* Typografi */
		color: $color-primary;
	    font-size: inherit;
		text-decoration: underline;
        
        /* Blandat/övrigt */
        cursor: pointer;
        
	    &:hover,
	    &:active {
            /* Typografi */
	        text-decoration: underline;  
	    }

	    &:visited {
            /* Typografi */
	        color: $link-visited;
	    }
	}
}
