.rh-cookie {
    /* Positionering */
    justify-content: center;
    align-items: center;

    /* Box-modell/beteende */
    display: flex;
    flex-wrap: wrap;
    //padding: em(20);

    @if $cookie-notice--padding-top {
        padding-top: $cookie-notice--padding-top;
    }

    @if $cookie-notice--padding-right {
        padding-right: $cookie-notice--padding-right;
    }

    @if $cookie-notice--padding-bottom {
        padding-bottom: $cookie-notice--padding-bottom;
    }

    @if $cookie-notice--padding-left {
        padding-left: $cookie-notice--padding-left;
    }

    /* Visuellt */
    @if $cookie-notice--background-color {
        background-color: $cookie-notice--background-color;
    }

    @if $cookie-notice--border {
        border: $cookie-notice--border;
    }

    @include medium {
        /* Box-modell/beteende */
        flex-wrap: nowrap;
        padding-top: $cookie-notice--padding-medium-top; //em(10)
        padding-bottom: $cookie-notice--padding-medium-bottom; //em(10)
    }

    &-description {
        /* Box-modell/beteende */
        margin-top: $cookie-notice__description--margin-top; //em(15)
        margin-right: $cookie-notice__description--margin-right;
        margin-bottom: $cookie-notice__description--margin-bottom; //em(15)

        @include medium {
            /* Box-modell/beteende */
            margin-top: $cookie-notice__description--margin-medium-top;
            margin-right: $cookie-notice__description--margin-medium-right; //em(40)
            margin-bottom: $cookie-notice__description--margin-medium-bottom;
        }
    }

    &-icon {
        @include medium {
            /* Box-modell/beteende */
            //margin: em(20);
            margin: 1.25em 1.25em 1.25em 0;
            padding: 0;
        }

        &:after {
            /* Box-modell/beteende */
            //padding: em(8);
            padding: $cookie-notice__icon--padding;

            /* Visuellt */
            background: $cookie-notice--background;

            /* Typografi */
            color: $cookie-notice__icon--color;
            border-radius: 50%;
            font-weight: $cookie-notice__icon--font-weight;
            font-family: "feather";
            font-size: $cookie-notice__icon--font-size;

            /* Blandat/övrigt */
            content: $cookie-notice__icon;

            @include medium {
                /* Typografi */
                font-size: $cookie-notice__icon--font-size-medium;
            }

            @include large {
                /* Typografi */
                font-size: $cookie-notice__icon--font-size-large;
            }
        }
    }

    &-button {
        /* Box-modell/beteende */
        min-width: $cookie-notice__button--min-width; // Using for IE11

        /* Typografi */
        white-space: nowrap;
    }
}