<div class="rh-cookie rh-container--auto">
    <span class="rh-cookie-icon"></span>
    <p class="rh-cookie-description">{{description}}</p>
    <button class="rh-button rh-button--primary rh-cookie-button"
        aria-label="Text som förklarar funktionen om man lyssnar med talsyntes utan att se kontexten"
        role="button">{{buttonText}}</button>
</div>