
<div class="rh-search-field">
	<input type="text" class="rh-search-term" placeholder="Placeholder">
	<button type="submit" class="rh-search-button">
		Sök
	</button>
</div>


<div style="height:50px"></div>


<div class="rh-search-field">
	<input type="text" class="rh-search-term rh-search-term-larger" placeholder="Placeholder">
	<button type="submit" class="rh-search-button rh-search-button-larger">
		Sök
	</button>
</div>



<div style="height:50px"></div>

<div class="rh-search-field">
	<input type="text" class="rh-search-term" placeholder="Placeholder" disabled>
	<button type="submit" class="rh-search-button" disabled>
		Sök
	</button>
</div>



<div style="height:50px"></div>


<div class="rh-search-field">
	<input type="text" class="rh-search-term rh-search-term-larger" placeholder="Placeholder" disabled>
	<button type="submit" class="rh-search-button rh-search-button-larger" disabled>
		Sök
	</button>
</div>