.rh-badge {
    /* Positionering */
    position: relative;

    /* Box-modell/beteende */
    height: em(110);
    width: em(110);
    //box-sizing: border-box;

    /* Visuellt */
    background: $base2-light;
    border-radius: 50%;
    
    /* Blandat/övrigt */
    cursor: pointer;

    .badge-content {
        /* Box-modell/beteende */
        float: left;
        margin-top: -0.5em;
        padding-top: 50%;
        width: 100%;

        /* Typografi */
        color: $black;
        line-height: 1;
        text-align: center;
        font-weight: bold;
        
        // font-size: em(20); 
        // @include medium { font-size: em(30);}
        // @include large { font-size: em(50);}
    }

    @include medium {
        width: em(122);
        height: em(122);
    }
    @include large {
        width: em(162);
        height: em(162);
    }
}
