/* Molecules - Back to top */
$back-to-top--isResponsive: true;

$back-to-top--background-color: $base3;
$back-to-top--background-color-hover-active: $base3-dark;
$back-to-top--cursor: pointer;

$back-to-top--button-size-medium: 3.125em; //50px
$back-to-top--icon-size-medium: 2em;

$back-to-top__container--padding: .8em;