/* Molecules - Article block */
$article-block__publish-date-info--margin: 0;
$article-block__publish-date-info--font-size: 0.8125em; //13px
$article-block__publish-date-info--font-size-large: 0.875em; //14px

$article-block__publish-date-icon--font-size: 0.8125em; //13px;
$article-block__publish-date-icon--margin: .118em .3em 0 0;
$article-block__publish-date-icon--margin-large: .195em .3em 0 0;

$article-block__title-link--text-color: $base3;