<div class="rh-article-block">
    <div class="rh-article-block__publish-date">
        <span class="icon-clock rh-article-block__publish-date-icon"></span>
        <p class="rh-article-block__publish-date-info">Publicerad: <time datetime="2019-10-07">{{datetime}}</time></p>
    </div>

    <div>
        <h3 class="rh-article-block__title">
            <a class="rh-link--navigation rh-article-block__title-link" href="#" title="">
                {{title}}
            </a>
        </h3>

        <p class="rh-article-block__description">
            {{description}}
        </p>
    </div>
</div>