//
// @name Colors
// @description
//
// @page Components/Colors
//
// @description Use to wrap articles.
//
// @markup
// <div class="color">
// 	<div class="color__block dark-blue">
// 	</div>
// 	<div class="color__description">
// 		<span class="color__section">#0E5AA4</span>
// 		<span class="color__section">.fill-dark-blue</span>
// 		<span class="color__section">.background-dark-blue</span>
// 		<span class="color__section">.text-dark-blue</span>
// 	</div>
// </div>
// <div class="color">
// 	<div class="color__block blue">
// 	</div>
// 	<div class="color__description">
// 		<span class="color__section">#6CA2D5</span>
// 		<span class="color__section">.fill-blue</span>
// 		<span class="color__section">.background-blue</span>
// 		<span class="color__section">.text-blue</span>
// 	</div>
// </div>
// <div class="color">
// 	<div class="color__block yellow">
// 	</div>
// 	<div class="color__description">
// 		<span class="color__section">#FDB813</span>
// 		<span class="color__section">.fill-yellow</span>
// 		<span class="color__section">.background-yellow</span>
// 		<span class="color__section">.text-yellow</span>
// 	</div>
// </div>


.background-white     { background: $white}
.background-grey      { background: $grey}
.background-black     { background: $black}
.background-dark-blue { background: $dark-blue}
.background-blue      { background: $blue}
.background-yellow    { background: $yellow}

.backgrond-gradient-blue { background: linear-gradient(45deg, #257ccb, #2284ca) }

.fill-white     { fill: $white}
.fill-black     { fill: $black}
.fill-dark-blue { fill: $dark-blue}
.fill-blue      { fill: $blue}
.fill-yellow    { fill: $yellow}

.text-white     { color: $white}
.text-grey      { color: palette(black, x-light)}
.text-black     { color: $black}
.text-dark-blue { color: $dark-blue}
.text-blue      { color: $blue}
.text-yellow    { color: $yellow}