// Title
$rh-shortcuts__title--color: black;

// Hr
$rh-shortcuts-hr--width: 100%;
$rh-shortcuts-hr--margin-bottom: em(22);
$rh-shortcuts-hr--border-top: 0.5px solid $complementary2;
$rh-shortcuts-hr--border-left: 0;
$rh-shortcuts-hr--border-bottom: 0;
$rh-shortcuts-hr--border-right: 0;

//Hr - Medium
$rh-shortcuts-hr--medium--border: 2px solid $complementary2;

// Listgroup
$rh-shortcuts__listgroup--padding: em(15);
$rh-shortcuts__listgroup--background-color: $complementary2-light;
$rh-shortcuts__listgroup--border-left: 5px solid $complementary2;
$rh-shortcuts__listgroup--border-radius: 4px;

// Shortcuts item
$rh-shortcuts__item--margin-bottom: em(35);
$rh-shortcuts__item--color: $black;
$rh-shortcuts__item--font-size: $p-medium;
$rh-shortcuts__item--last-child--margin-bottom: em(0);

// Shortcuts item - medium
$rh-shortcuts__item--medium--font-size: $p-medium;

// Shortcuts item - large
$rh-shortcuts__item--large--font-size: $p-large;

// Shortcuts item link
$rh-shortcuts__item-link--display: inline-block;
$rh-shortcuts__item-link--cursor: pointer;
$rh-shortcuts__item-link--font-size: inherit;
$rh-shortcuts__item-link--text-decoration: underline;
$rh-shortcuts__item-link--color: $black;
$rh-shortcuts__item-link--hover-active--color: $color-primary;
$rh-shortcuts__item-link--hover-active--text-decoration: none;
$rh-shortcuts__item-link--visited: $link-visited;

// Shortcuts item link - foucs
$rh-shortcuts__item-link--focus--background-color: $complementary2;
$rh-shortcuts__item-link--focus--color: $black;
$rh-shortcuts__item-link--focus--outline: none;
$rh-shortcuts__item-link--focus--padding: .3ex;
$rh-shortcuts__item-link--focus--border-radius: 5px;