<div class="rh-lists">
	<h4 class="rh-lists-title">{{listTitle}}</h4>

    {{#each listItems}}
    <div class="rh-lists-items">
		<p class="rh-lists-items-left">{{textLeft}}</p>
		<p class="rh-lists-items-right">{{textRight}}</p>
		<hr class="rh-lists-items-hr">
	</div>
    
    {{/each}}

</div>