//
// @name Colors
// @description
//
// @page Components/Colors
//
// @description Use to wrap articles.
//
// @markup
// <article class="color">
// 	<p>test</p>
// </article>

.color {
	background:blue;
	height:30px;
	width:40px;
	
}