.color {
	border:1px solid palette(grey, base);
	display:inline-block;
	border-radius:$border-radius;
	overflow:hidden;
	margin:$space-2;
}

.color__block {
	background:$blue;
	height:125px;
	width:200px;

	&.dark-blue {
		background:$dark-blue;
	}
	&.blue {
		background:$blue;
	}
	&.yellow {
		background:$yellow;
	}
}

.color__section {
	padding:$space-2;
	display:block;
	border-top:1px solid palette(grey, base);
}