.component-section {

}

.component-section__example {
	padding:$space-4 $space-4;
	border:1px solid palette(grey, base);
	border-radius:$border-radius;
	margin:$space-2 0;
}

.component-box {
	height:75px;
	width:75px;
	background:palette(grey, base);
	border-radius:$border-radius;
	display:flex;
	justify-content:center;
	align-items:center;
}

.component-section__modifiers {
	padding:$space-3;
	border:1px solid palette(grey, base);
	border-radius:$border-radius;
	margin:$space-2 0;
}

.component-section__modifier {
	margin:$space-2 0;
}

.component-section__code {
	padding:$space-2;
	background:#000;
	font-size:0.8em;
	border-radius:$border-radius;
	margin:$space-2 0;
	color: #36ea9a;
}

.component-table {
	margin:$space-3 0;
	&__row {
		border-top:1px solid palette(grey, base);
		td {
			padding:$space-2 0;
		}
	}
}