//
// @name Icons
// @page Components/Icons
//
// @description
// Icons from <a href="https://github.com/iconic/open-iconic">https://github.com/iconic/open-iconic</a>
//
// @state .icon--sm - Small (8px)
// @state .icon--md - Medium (24px)
// @state .icon--lg - Large (32px)
// @state .icon--xl - Extra large (64px)
//
// @markup
// <div>
// {{#shapes}}
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#{{base}}"/>
//	 </svg>
// {{/shapes}}
// </div>
//

.icon {
	display: inline-block;
	height: 16px;
	width:  16px;
	vertical-align: middle;
}

.icon--sm {
	width:  8px;
	height: 8px;
}

.icon--md {
	width:  24px;
	height: 24px;
}

.icon--lg {
	width:  32px;
	height: 32px;
}

.icon--xl {
	width:  64px;
	height: 64px;
}