//
// @name Icons
// @page Components/Icons
//
// @description
// Icons from <a href="https://github.com/iconic/open-iconic">https://github.com/iconic/open-iconic</a>
//
// @state .icon-sm - Small icon (8px)
// @state .icon - Regular icon (16px)
// @state .icon-md - Medium icon (24px)
// @state .icon-lg - Large icon (32px)
// @state .icon-xl - Extra large icon (64px)
//
// @markup
// <div style="-webkit-columns: 12; columns: 12">
// {{#shapes}}
//	 <svg class="icon">
//	 	<use xlink:href="../dist/icons/sprite-2.svg#{{base}}"/>
//		<span>{{base}}</span>
//	 </svg>
//	 <br>
// {{/shapes}}
// </div>
//

.icon {
  display: inline-block;
  fill: red;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1em;
}