.rh-labels {
	/* Box-modell/beteende */
	border-radius: $LABELS--BORDER-RADIUS;
	display: $LABELS--DISPLAY;
	margin-right: $LABELS--MARGIN-RIGHT;
	min-width: $LABELS--MIN-WIDTH;
	padding-top: $LABELS--PADDING-TOP;
	padding-bottom: $LABELS--PADDING-BOTTOM;
	padding-right: $LABELS--PADDING-RIGHT;
	padding-left: $LABELS--PADDING-LEFT;
	vertical-align: $LABELS--VERTICAL-ALIGN;

	/* Visuellt */
	background-color: $LABELS--BACKGROUND-COLOR;

	/* Typografi */
	color: $LABELS--TEXT-COLOR;
	font-size: $LABELS--FONT-SIZE;
	line-height: $LABELS--LINE-HEIGHT;
	text-align: $LABELS--TEXT-ALIGN;
	white-space: $LABELS--WHITE-SPACE;
    
	@include large {
		/* Box-modell/beteende */
		min-width: $LABELS--LARGE--MIN-WIDTH;
	}
}