/* --------------- */
/* Atomen "Labels" */
/* --------------- */

/* Box-modell/beteende */
$LABELS--BORDER-RADIUS: em(12);
$LABELS--DISPLAY: inline-block;
$LABELS--MARGIN-RIGHT: em(10);
$LABELS--MIN-WIDTH: em(11);
$LABELS--PADDING-BOTTOM: em(5);
$LABELS--PADDING-LEFT: em(9);
$LABELS--PADDING-RIGHT: em(9);
$LABELS--PADDING-TOP: em(5);
$LABELS--VERTICAL-ALIGN: baseline;

/* Visuellt */
$LABELS--BACKGROUND-COLOR: $base3-light;

/* Typografi */
$LABELS--FONT-SIZE: em(14);
$LABELS--LINE-HEIGHT: 1;
$LABELS--TEXT-COLOR: $black;
$LABELS--TEXT-ALIGN: center;
$LABELS--WHITE-SPACE: nowrap;

/* large-modifiern */
$LABELS--LARGE--MIN-WIDTH: em(12);