<div class="rh-contact-info">
    <div class="rh-contact-info__header">
        <h2 id="" class="rh-contact-info__header-title">Kontakt</h2>
    </div>

    <div class="rh-contact-info__body">
        <p class="h4">Vårdcentralen Getinge</p>
        <p class="h4">Telefonnummer:</p>

        <p>
            <span class="icon-phone rh-contact-info__body-icon-phone"></span>
            <a href="tel:031 - 383 04 20" class="rh-link--navigation">031 - 383 04 20</a>
        </p>

        <p class="h4">Telefontider:</p>

        <table>
            <tr>
                <td style="width: 50px;height: 30px;">Mån</td>
                <td>07.30 - 16.50</td>
            </tr>
            <tr>
                <td>Tis</td>
                <td>07.30 - 16.50</td>
            </tr>
            <tr>
                <td>Ons</td>
                <td>07.30 - 16.50</td>
            </tr>
            <tr>
                <td>Tors</td>
                <td>08.00 - 16.00</td>
            </tr>
            <tr>
                <td>Fre</td>
                <td>09.00 - 14.30</td>
            </tr>
        </table>
    </div>
</div>