.rh-feedback {

    hr {
        /* Box-modell/beteende */
        margin-top: em(22);
        margin-bottom: em(22);

        /* Visuellt */
        border: em(1) solid $grey-light;
    }

    .rh-button {
        /* Box-modell/beteende */
        width: em(80);

        @include large {
            /* Box-modell/beteende */
            width: em(100);
        }
    }

}